Repository BinaryStudioAcademy/bsa-2022-vse-bude, pull requests merged in 2022-08, with the labels that each got.

#6 Update packages
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/frontend/package-lock.json
  packages/frontend/package.json
Labels: frontend, backend

#9 update codeowners
  .github/CODEOWNERS
Labels: CI/CD

#8 Update readme
  README.md
  package-lock.json
  package.json
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/prisma/ERD.svg
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/shared/package-lock.json
  packages/shared/package.json
Labels: frontend, backend, mobile, root, shared

#10 Added resolver for shared package
  packages/mobile/metro.config.js
Labels: mobile

#11 Improved mobile package inheritance
  .prettierrc
  package-lock.json
  package.json
  packages/backend/.prettierrc
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/prisma/seed/index.ts
  packages/backend/src/api/routes/random-data.ts
  packages/backend/src/helpers/request.ts
  packages/backend/src/repositories/random-data.ts
  packages/backend/src/server.ts
  packages/frontend/.prettierrc
  packages/frontend/components/header/component.tsx
  packages/frontend/helpers/title.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/index.tsx
  packages/frontend/store/random-data/actions.ts
  packages/mobile/.eslintrc.yml
  packages/mobile/.prettierrc.yml
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/exception/exception.ts
  packages/mobile/src/exceptions/exceptions.ts
  packages/mobile/src/screens/auth/auth.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/mobile/src/services/auth-api/auth-api.service.ts
  packages/mobile/src/services/http/http.service.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/validation-schemas/user/user.ts
  packages/mobile/src/validation-schemas/validation-schemas.ts
  packages/mobile/tsconfig.json
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  packages/shared/.eslintrc.js
  packages/shared/.prettierrc
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/rollup.config.js
  packages/shared/src/common/enums/exception/exception-name.ts
  packages/shared/src/common/enums/exception/index.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/exceptions/http-error/index.ts
  packages/shared/src/exceptions/index.ts
  packages/shared/src/helpers/https.ts
  packages/shared/src/index.ts
  packages/shared/src/validation-schemas/index.ts
  packages/shared/src/validation-schemas/user/index.ts
  packages/shared/src/validation-schemas/user/sign-up.ts
Labels: frontend, backend, mobile, root, shared

#13 VB-48: fix prettier script
  packages/backend/package.json
  packages/frontend/package.json
  packages/shared/package.json
Labels: frontend, backend, shared

#17 Ci cd
  .github/workflows/ci.yml
  .github/workflows/release.yml
  nginx.conf
  package-lock.json
  package.json
  packages/backend/.env.example
  packages/backend/src/repositories/user.ts
  packages/backend/src/server.ts
  packages/frontend/.env.example
  scripts/README.md
  scripts/deploy.sh
Labels: backend, CI/CD, root

#19 Ci cd
  .github/workflows/release.yml
Labels: CI/CD

#15 #15: add i18n
  packages/backend/prisma/ERD.svg
  packages/frontend/next-i18next.config.js
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/home.json
  packages/frontend/public/locales/uk/common.json
  packages/frontend/public/locales/uk/home.json
Labels: frontend, backend

#20 CD for application release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  nginx.conf
  package-lock.json
  package.json
  packages/backend/.env.example
  packages/backend/src/repositories/user.ts
  packages/backend/src/server.ts
  packages/frontend/.env.example
  scripts/README.md
  scripts/deploy.sh
Labels: backend, CI/CD, root

#14 VB-14: Create theme
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/theme/index.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/enums/theme/color-palette.ts
  packages/shared/src/common/enums/theme/index.ts
Labels: frontend, shared

#24 VBM: Moved validation schemas back to mobile project
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/mobile/src/validation-schemas/user/sign-up.ts
  packages/mobile/src/validation-schemas/user/user.ts
  packages/mobile/src/validation-schemas/validation-schemas.ts
  packages/shared/package-lock.json
  packages/shared/package.json
  packages/shared/rollup.config.js
  packages/shared/src/index.ts
  packages/shared/src/validation-schemas/index.ts
Labels: mobile, shared

#25 vse-bude-task#7: added prisma db schema
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220809084851_added_db_prisma_schema/migration.sql
  packages/backend/prisma/migrations/20220809113415_changed_data_types_added_rename/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/data/users.ts
Labels: backend

#27 VB-9: add redis service
  .docker/README.md
  .docker/docker-compose.redis.yaml
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/helpers/env.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/redis-storage.ts
Labels: backend

#34 Feature/remove nextui
  packages/frontend/.babelrc
  packages/frontend/components/footer/component.tsx
  packages/frontend/components/footer/styles.ts
  packages/frontend/components/header/component.tsx
  packages/frontend/components/header/styles.ts
  packages/frontend/components/layout/component.tsx
  packages/frontend/components/layout/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/providers/ThemeProvider/index.tsx
  packages/frontend/providers/index.ts
  packages/frontend/theme/globalStyles.ts
  packages/frontend/theme/globalStyles.tsx
  packages/frontend/theme/theme.ts
  packages/frontend/tsconfig.json
Labels: frontend

#29 Feature/button
  .gitignore
  packages/backend/package-lock.json
  packages/frontend/components/primitives/button/component.tsx
  packages/frontend/components/primitives/button/index.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/button/types.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/package-lock.json
  packages/frontend/pages/index.tsx
  packages/frontend/theme/globalStyles.tsx
  packages/frontend/theme/theme.ts
  packages/mobile/package-lock.json
Labels: frontend, backend, mobile

#23 Feature/add theme VB-14
  packages/mobile/src/config/config.ts
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/index.tsx
Labels: mobile

#38 Feature/string cutter
  packages/frontend/components/primitives/string-cutter/component.tsx
  packages/frontend/components/primitives/string-cutter/index.ts
  packages/frontend/components/primitives/string-cutter/styles.ts
  packages/frontend/components/primitives/string-cutter/types.ts
Labels: frontend

#36 Feature/dbschema prisma
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220810083753_bugs_fixing_unique_option/migration.sql
  packages/backend/prisma/schema.prisma
Labels: backend

#30 VBM-50: global styles added
  packages/mobile/src/common/types/styles/styles.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/styles/flex-box/flex-box.ts
  packages/mobile/src/styles/font/font.ts
  packages/mobile/src/styles/margins/margins.ts
  packages/mobile/src/styles/paddings/paddings.ts
  packages/mobile/src/styles/spacers/spacers.ts
  packages/mobile/src/styles/styles.ts
Labels: mobile

#42 VB-11: add sms sender service
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/common/enums/index.ts
  packages/backend/src/common/enums/providers/index.ts
  packages/backend/src/common/enums/providers/sms/TwilioSMSProvider.ts
  packages/backend/src/common/enums/providers/sms/index.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/common/types/providers/ISMSProvider.ts
  packages/backend/src/common/types/providers/index.ts
  packages/backend/src/common/types/services/ISMSSenderService.ts
  packages/backend/src/common/types/services/index.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/providers/index.ts
  packages/backend/src/providers/sms/TwilioSMSProvider.ts
  packages/backend/src/providers/sms/index.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/sms/index.ts
  packages/backend/src/services/sms/sms-sender.ts
  packages/backend/tsconfig.json
Labels: backend

#21 VB-32: add icon component
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/Feather.ttf
  packages/mobile/ios/FontAwesome5_Brands.ttf
  packages/mobile/ios/FontAwesome5_Regular.ttf
  packages/mobile/ios/FontAwesome5_Solid.ttf
  packages/mobile/ios/mobile/Info.plist
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/icon/icon.tsx
  packages/mobile/src/components/icon/index.ts
Labels: mobile

#22 VB-22: add button component
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/ui/button-type.enum.ts
  packages/mobile/src/common/enums/ui/ui.ts
  packages/mobile/src/components/button/button.tsx
  packages/mobile/src/components/button/styles.ts
Labels: mobile

#48 VBM-22: fix prettier
  packages/mobile/src/components/button/button.tsx
Labels: mobile

#28 VBM-49: add root screen wrapper
  packages/mobile/package-lock.json
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/screen-wrapper/screen-wrapper.tsx
  packages/mobile/src/components/screen-wrapper/styles.ts
Labels: mobile

#32 VBM-48: add loader component
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/spinner/spinner.tsx
  packages/mobile/src/components/spinner/styles.ts
Labels: mobile

#50 VBM-33: Improved tab bar options handling
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/common/types/ui/icon.type.ts
  packages/mobile/src/common/types/ui/ui.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/icon/icon.tsx
  packages/mobile/src/components/icon/index.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/navigation/main/main.navigation.tsx
Labels: mobile

#41 VBM-33: bottom tabs added
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/navigation/main-screen-name.enum.ts
  packages/mobile/src/common/enums/navigation/navigation.ts
  packages/mobile/src/common/enums/navigation/root-screen-name.enum.ts
  packages/mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/common/types/ui/icon.type.ts
  packages/mobile/src/common/types/ui/ui.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/icon/icon.tsx
  packages/mobile/src/components/icon/index.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/hooks/use-custom-theme/use-custom-theme.ts
  packages/mobile/src/navigation/main/main.navigation.tsx
  packages/mobile/src/navigation/navigation.tsx
  packages/mobile/src/screens/account/account.tsx
  packages/mobile/src/screens/favorite/favorite.tsx
  packages/mobile/src/screens/home/home.tsx
  packages/mobile/src/screens/my-list/my-list.tsx
  packages/mobile/src/screens/screens.ts
Labels: mobile

#47 VBM-58: add notification service
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/notification/notification.enum.ts
  packages/mobile/src/common/types/notification/notification.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/services/notification/notification.service.ts
  packages/mobile/src/services/services.ts
Labels: mobile

#43 VBM-15: add localization
  packages/mobile/.eslintrc.yml
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/index.tsx
  packages/mobile/src/localization/i18n.ts
  packages/mobile/src/localization/languages/en.ts
  packages/mobile/src/localization/languages/languages.ts
  packages/mobile/src/localization/languages/ua.ts
  packages/mobile/src/localization/localization.ts
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#53 VB-58: add dev sms service
  packages/backend/.env.example
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220810083753_bugs_fixing_unique_option/migration.sql
  packages/backend/src/providers/sms/BarSMSProvider.ts
  packages/backend/src/providers/sms/index.ts
  packages/backend/src/services/index.ts
Labels: backend

#51 Feature/checkbox
  packages/frontend/components/primitives/checkbox/component.tsx
  packages/frontend/components/primitives/checkbox/index.ts
  packages/frontend/components/primitives/checkbox/styles.ts
  packages/frontend/components/primitives/checkbox/types.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/public/images/icons/checkmark.svg
  packages/frontend/theme/theme.ts
Labels: frontend

#40 VB-21: create tooltip component
  packages/backend/.env.example
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/components/primitives/tooltip/index.ts
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/components/primitives/tooltip/types.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_document.tsx
Labels: frontend

#54 VBM-59: app naming
  packages/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/values/strings.xml
  packages/mobile/ios/Podfile.lock
  packages/mobile/ios/mobile.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-1024.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-20@2x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-20@3x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-29@2x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-29@3x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-40@2x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-60@2x-1.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-60@2x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/1024-60@3x.png
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/mobile/ios/mobile/Images.xcassets/Contents.json
  packages/mobile/ios/mobile/Info.plist
Labels: mobile

#55 VB-23: add font awesome
  packages/frontend/package.json
  packages/frontend/pages/test.tsx
Labels: frontend

#59 VB-67: fix tooltip styles
  packages/frontend/components/primitives/tooltip/styles.ts
Labels: bug, frontend

#65 Feature/footer
  packages/frontend/components/footer/component.tsx
  packages/frontend/components/footer/footer-common/column-header.tsx
  packages/frontend/components/footer/footer-common/index.ts
  packages/frontend/components/footer/footer-common/styles.ts
  packages/frontend/components/footer/footer-common/types.ts
  packages/frontend/components/footer/footer-content wrapper/footer-content-wrapper.tsx
  packages/frontend/components/footer/footer-content wrapper/index.ts
  packages/frontend/components/footer/footer-content wrapper/styles.ts
  packages/frontend/components/footer/footer-form/footer-form.tsx
  packages/frontend/components/footer/footer-form/index.ts
  packages/frontend/components/footer/footer-form/styles.ts
  packages/frontend/components/footer/footer-form/types.ts
  packages/frontend/components/footer/footer-links/footer-contacts.tsx
  packages/frontend/components/footer/footer-links/footer-policy.tsx
  packages/frontend/components/footer/footer-links/index.ts
  packages/frontend/components/footer/footer-links/styles.ts
  packages/frontend/components/footer/footer-links/types.ts
  packages/frontend/components/footer/footer-logo/footer-log.tsx
  packages/frontend/components/footer/footer-logo/index.ts
  packages/frontend/components/footer/footer-logo/styles.ts
  packages/frontend/components/footer/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/public/images/footer/email-icon.svg
  packages/frontend/public/images/footer/footer-logo.svg
  packages/frontend/public/images/footer/phone-icon.svg
  packages/frontend/public/images/footer/privacy-policy-icon.svg
  packages/frontend/theme/theme.ts
Labels: frontend

#64 VB-53: create product-card component
  packages/frontend/.gitignore
  packages/frontend/common/types/timer/index.ts
  packages/frontend/common/types/timer/translations.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/card/index.d.ts
  packages/frontend/components/product/card/styles.ts
  packages/frontend/components/product/card/types.ts
  packages/frontend/components/product/favorite-button/component.tsx
  packages/frontend/components/product/favorite-button/styles.ts
  packages/frontend/components/product/favorite-button/types.ts
  packages/frontend/components/product/image-slider/component.tsx
  packages/frontend/components/product/image-slider/controls.tsx
  packages/frontend/components/product/image-slider/styles.ts
  packages/frontend/components/product/image-slider/types.ts
  packages/frontend/components/product/price/component.tsx
  packages/frontend/components/product/price/index.ts
  packages/frontend/components/product/price/styles.ts
  packages/frontend/components/product/price/types.ts
  packages/frontend/components/product/timer/component.tsx
  packages/frontend/components/product/timer/styles.ts
  packages/frontend/components/product/timer/types.ts
  packages/frontend/helpers/time.ts
  packages/frontend/hooks/time.ts
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/index.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/product.json
  packages/frontend/public/locales/uk/common.json
  packages/frontend/public/locales/uk/product.json
  packages/frontend/theme/theme.ts
Labels: frontend

#66 Add icon component
  packages/frontend/common/enums/iconColor.ts
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/primitives/icon/component.tsx
  packages/frontend/components/primitives/icon/index.ts
  packages/frontend/components/primitives/icon/styles.ts
  packages/frontend/components/primitives/icon/types.ts
  packages/frontend/pages/index.tsx
  packages/frontend/pages/test.tsx
  packages/frontend/theme/theme.ts
Labels: frontend

#31 VBM-54: add font, create custom text
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Bold.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-BoldItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-ExtraBold.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-ExtraBoldItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-ExtraLight.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-ExtraLightItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Italic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Light.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-LightItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Medium.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-MediumItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Regular.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-SemiBold.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-SemiBoldItalic.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-Thin.ttf
  packages/mobile/android/app/src/main/assets/fonts/Raleway-ThinItalic.ttf
  packages/mobile/android/link-assets-manifest.json
  packages/mobile/ios/link-assets-manifest.json
  packages/mobile/ios/mobile.xcodeproj/project.pbxproj
  packages/mobile/ios/mobile/Info.plist
  packages/mobile/package-lock.json
  packages/mobile/react-native.config.js
  packages/mobile/src/assets/fonts/Raleway-Bold.ttf
  packages/mobile/src/assets/fonts/Raleway-BoldItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-ExtraBold.ttf
  packages/mobile/src/assets/fonts/Raleway-ExtraBoldItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-ExtraLight.ttf
  packages/mobile/src/assets/fonts/Raleway-ExtraLightItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-Italic.ttf
  packages/mobile/src/assets/fonts/Raleway-Light.ttf
  packages/mobile/src/assets/fonts/Raleway-LightItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-Medium.ttf
  packages/mobile/src/assets/fonts/Raleway-MediumItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-Regular.ttf
  packages/mobile/src/assets/fonts/Raleway-SemiBold.ttf
  packages/mobile/src/assets/fonts/Raleway-SemiBoldItalic.ttf
  packages/mobile/src/assets/fonts/Raleway-Thin.ttf
  packages/mobile/src/assets/fonts/Raleway-ThinItalic.ttf
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/fonts/font-family.enum.ts
  packages/mobile/src/common/enums/fonts/font-size.enum.ts
  packages/mobile/src/common/enums/fonts/fonts.ts
  packages/mobile/src/components/button/button.tsx
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/text/styles.ts
  packages/mobile/src/components/text/text.tsx
Labels: mobile

#61 Auth.provider
  packages/frontend/common/enums/routes.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/helpers/auth.ts
  packages/frontend/helpers/cookies.ts
  packages/frontend/helpers/index.tsx
  packages/frontend/hocs/withAuth.tsx
  packages/frontend/package-lock.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/sign-in/index.tsx
  packages/frontend/pages/users/index.tsx
  packages/frontend/providers/AuthProvider/index.tsx
  packages/frontend/providers/index.ts
  packages/frontend/services/auth.ts
  packages/frontend/services/index.ts
  packages/frontend/store/profile/action-types.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/index.ts
  packages/frontend/store/profile/reducer.ts
  packages/frontend/store/store.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/enums/storage/storage-key.ts
  packages/shared/src/common/types/auth/auth-helper.ts
  packages/shared/src/common/types/auth/index.ts
  packages/shared/src/helpers/https.ts
Labels: frontend, shared

#75 VB-24: S3 service
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/middlewares/index.ts
  packages/backend/src/api/middlewares/multer.ts
  packages/backend/src/api/routes/index.ts
  packages/backend/src/api/routes/upload-image.ts
  packages/backend/src/common/enums/index.ts
  packages/backend/src/common/enums/services/index.ts
  packages/backend/src/common/enums/services/s3-storage/index.ts
  packages/backend/src/common/types/services/S3StorageService.ts
  packages/backend/src/common/types/services/index.ts
  packages/backend/src/error/error-messages.ts
  packages/backend/src/error/index.ts
  packages/backend/src/error/s3-storage/file-to-large-error.ts
  packages/backend/src/error/s3-storage/index.ts
  packages/backend/src/error/s3-storage/no-file-provided.ts
  packages/backend/src/error/s3-storage/unsupported-file-extension-error.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/s3-storage.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: backend, shared

#71 Feature/sign in
  packages/frontend/common/enums/routes.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/authLayout/component.tsx
  packages/frontend/components/authLayout/index.ts
  packages/frontend/components/authLayout/styles.ts
  packages/frontend/components/authLayout/types.ts
  packages/frontend/components/login/component.tsx
  packages/frontend/components/login/index.ts
  packages/frontend/components/login/styles.ts
  packages/frontend/components/login/types.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/sign-in/index.tsx
  packages/frontend/public/images/flagBg.png
  packages/frontend/public/images/logo.png
  packages/frontend/public/images/postStamp.png
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/services/auth.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/index.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/auth/selectors.ts
  packages/frontend/store/store.ts
  packages/frontend/validation-schemas/user/index.ts
  packages/frontend/validation-schemas/user/sign-in.ts
Labels: frontend

#68 add types for localization keys
  packages/mobile/src/common/types/localization/loclization.d.ts
  packages/mobile/src/localization/i18n.ts
Labels: mobile

#52 VBM-47: add keyboardAvoidingView with keyboardHeight hook
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/keyboard-avoiding/keyboard-avoiding.tsx
  packages/mobile/src/components/keyboard-avoiding/styles.ts
Labels: mobile

#39 vse-bude-task#10: added email service
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/common/types/email/email-options.ts
  packages/backend/src/common/types/email/index.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/common/types/providers/IEmailProvider.ts
  packages/backend/src/common/types/providers/index.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/providers/email/SendInBlueEmailProvider.ts
  packages/backend/src/providers/email/index.ts
  packages/backend/src/services/email.ts
  packages/backend/src/services/index.ts
  packages/frontend/package-lock.json
Labels: frontend, backend

#77 VB-78: fix dropdown component styles
  packages/frontend/components/primitives/menu-dropdown/component.tsx
  packages/frontend/components/primitives/menu-dropdown/styles.ts
Labels: frontend

#60 VB-61: add avatar component
  packages/frontend/common/enums/colorsAvatar.ts
  packages/frontend/common/enums/index.ts
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/avatar/styles.ts
  packages/frontend/components/primitives/icon/component.tsx
Labels: frontend

#57 VBM-52/53: auth screen added
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/types/styles/styles.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/divider/divider.tsx
  packages/mobile/src/components/divider/styles.ts
  packages/mobile/src/components/header-button/header-button.tsx
  packages/mobile/src/components/header-button/styles.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/components/input/styles.ts
  packages/mobile/src/components/logo/logo.tsx
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/localization/languages/en.ts
  packages/mobile/src/localization/languages/ua.ts
  packages/mobile/src/screens/auth/auth.tsx
  packages/mobile/src/screens/auth/components/components.ts
  packages/mobile/src/screens/auth/components/google-button/google-button.tsx
  packages/mobile/src/screens/auth/components/google-button/styles.ts
  packages/mobile/src/screens/auth/components/header/header.tsx
  packages/mobile/src/screens/auth/components/header/styles.ts
  packages/mobile/src/screens/auth/components/sign-in-form/common/constants.ts
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/mobile/src/screens/auth/styles.ts
  packages/mobile/src/styles/flex-box/flex-box.ts
  packages/mobile/src/validation-schemas/user/sign-in.ts
  packages/mobile/src/validation-schemas/user/user.ts
  packages/mobile/src/validation-schemas/validation-schemas.ts
  packages/shared/src/common/enums/theme/color-palette.ts
Labels: mobile, shared

#56 VBM-51: welcome screen layout
  .vscode/settings.json
  packages/mobile/package-lock.json
  packages/mobile/src/assets/images/images.ts
  packages/mobile/src/assets/images/logo_small.png
  packages/mobile/src/assets/images/stamp.png
  packages/mobile/src/common/enums/navigation/root-screen-name.enum.ts
  packages/mobile/src/common/enums/ui/button-type.enum.ts
  packages/mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  packages/mobile/src/components/button/button.tsx
  packages/mobile/src/components/button/styles.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/localization/languages/en.ts
  packages/mobile/src/localization/languages/ua.ts
  packages/mobile/src/navigation/navigation.tsx
  packages/mobile/src/screens/screens.ts
  packages/mobile/src/screens/welcome/components/components.ts
  packages/mobile/src/screens/welcome/components/product/product.tsx
  packages/mobile/src/screens/welcome/components/product/style.ts
  packages/mobile/src/screens/welcome/styles.ts
  packages/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#70 Feature/account page
  packages/frontend/common/enums/index.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/primitives/dashboard-link/component.tsx
  packages/frontend/components/primitives/dashboard-link/index.ts
  packages/frontend/components/primitives/dashboard-link/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/components/user-account-layout/account-links-data.ts
  packages/frontend/components/user-account-layout/layout.tsx
  packages/frontend/components/user-account-layout/styles.ts
  packages/frontend/components/user-account-layout/types.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/user-account/index.tsx
  packages/frontend/public/locales/en/dashboard.json
  packages/frontend/public/locales/en/page-titles.json
  packages/frontend/public/locales/uk/dashboard.json
  packages/frontend/public/locales/uk/page-titles.json
Labels: frontend

#82 Feature/popover
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/popover/component.tsx
  packages/frontend/components/primitives/popover/index.ts
  packages/frontend/components/primitives/popover/styles.ts
  packages/frontend/components/primitives/popover/types.ts
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/index.tsx
Labels: frontend

#63 VB-57: Feature/create header
  packages/backend/prisma/ERD.svg
  packages/frontend/components/header/component.tsx
  packages/frontend/components/header/styles.ts
  packages/frontend/components/primitives/logo/component.tsx
  packages/frontend/components/primitives/logo/index.ts
  packages/frontend/components/primitives/logo/styles.ts
  packages/frontend/pages/index.tsx
  packages/frontend/public/images/icons/logo.svg
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/uk/common.json
  packages/frontend/theme/theme.ts
Labels: frontend, backend

#74 VBM-39: info-page-screen added
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/types/styles/styles.ts
  packages/mobile/src/components/button/button.tsx
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/dropdown/dropdown.tsx
  packages/mobile/src/components/dropdown/styles.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/components/input/styles.ts
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/localization/i18n.ts
  packages/mobile/src/localization/languages/en.ts
  packages/mobile/src/localization/languages/ua.ts
  packages/mobile/src/mock/mock-personal-info.ts
  packages/mobile/src/screens/personal-info/components/components.ts
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
  packages/mobile/src/screens/personal-info/components/profile-image/profile-image.tsx
  packages/mobile/src/screens/personal-info/components/profile-image/styles.ts
  packages/mobile/src/screens/personal-info/components/title/styles.ts
  packages/mobile/src/screens/personal-info/components/title/title.tsx
  packages/mobile/src/screens/personal-info/personal-info.tsx
  packages/mobile/src/screens/screens.ts
  packages/mobile/src/styles/flex-box/flex-box.ts
Labels: mobile

#87 Update FE packages
  packages/frontend/.babelrc
  packages/frontend/components/header/component.tsx
  packages/frontend/components/header/styles.ts
  packages/frontend/components/primitives/container/component.tsx
  packages/frontend/components/primitives/container/index.ts
  packages/frontend/components/primitives/container/styles.ts
  packages/frontend/components/primitives/container/types.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/link/anchor.tsx
  packages/frontend/components/primitives/link/internal.tsx
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/components/product/timer/component.tsx
  packages/frontend/hooks/index.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/theme/globalStyles.tsx
  packages/frontend/theme/theme.ts
Labels: frontend

#83 Feature/footer
  packages/frontend/components/footer/common/column-header.tsx
  packages/frontend/components/footer/common/index.ts
  packages/frontend/components/footer/common/styles.ts
  packages/frontend/components/footer/common/types.ts
  packages/frontend/components/footer/component.tsx
  packages/frontend/components/footer/content-wrapper/content-wrapper.tsx
  packages/frontend/components/footer/content-wrapper/index.ts
  packages/frontend/components/footer/content-wrapper/styles.ts
  packages/frontend/components/footer/footer-content wrapper/footer-content-wrapper.tsx
  packages/frontend/components/footer/footer-content wrapper/index.ts
  packages/frontend/components/footer/footer-form/index.ts
  packages/frontend/components/footer/footer-form/types.ts
  packages/frontend/components/footer/footer-links/footer-contacts.tsx
  packages/frontend/components/footer/footer-links/footer-policy.tsx
  packages/frontend/components/footer/footer-links/index.ts
  packages/frontend/components/footer/footer-links/types.ts
  packages/frontend/components/footer/footer-logo/index.ts
  packages/frontend/components/footer/form/form.tsx
  packages/frontend/components/footer/form/index.ts
  packages/frontend/components/footer/form/styles.ts
  packages/frontend/components/footer/links/contacts.tsx
  packages/frontend/components/footer/links/index.ts
  packages/frontend/components/footer/links/policy.tsx
  packages/frontend/components/footer/links/styles.ts
  packages/frontend/components/footer/links/types.ts
  packages/frontend/components/footer/logo/index.ts
  packages/frontend/components/footer/logo/logo.tsx
  packages/frontend/components/footer/logo/styles.ts
  packages/frontend/pages/index.tsx
  packages/frontend/public/images/footer/email-icon.svg
  packages/frontend/public/images/footer/phone-icon.svg
  packages/frontend/public/images/footer/privacy-policy-icon.svg
  packages/frontend/public/locales/en/footer.json
  packages/frontend/public/locales/uk/footer.json
Labels: frontend

#86 VB-72: added localization
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/translation.json
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/middlewares/auth.ts
  packages/backend/src/api/middlewares/index.ts
  packages/backend/src/api/middlewares/localization.ts
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/error/auth/expired-refresh-token-error.ts
  packages/backend/src/error/auth/unauthorized-error.ts
  packages/backend/src/error/auth/wrong-refresh-token-error.ts
  packages/backend/src/error/error-handler.ts
  packages/backend/src/error/error-messages.ts
  packages/backend/src/error/index.ts
  packages/backend/src/error/s3-storage/file-to-large-error.ts
  packages/backend/src/error/s3-storage/no-file-provided.ts
  packages/backend/src/error/s3-storage/unsupported-file-extension-error.ts
  packages/backend/src/error/user/user-exists-error.ts
  packages/backend/src/error/user/user-not-found-error.ts
  packages/backend/src/error/user/wrong-password-error.ts
  packages/backend/src/server.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/s3-storage.ts
Labels: backend

#69 VB-27: add create account pages to frontend
  packages/backend/src/api/routes/index.ts
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/common/types/verification-code/index.ts
  packages/backend/src/error/error-messages.ts
  packages/backend/src/error/verify/code-not-found-error.ts
  packages/backend/src/error/verify/wrong-code-error.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/verify.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/common/types/auth/index.ts
  packages/frontend/components/auth/layout/styles.ts
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/auth/sign-up/validation.ts
  packages/frontend/components/auth/styles.ts
  packages/frontend/components/auth/verification/email-verification.tsx
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/primitives/button/component.tsx
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/button/types.ts
  packages/frontend/components/primitives/input/input.tsx
  packages/frontend/components/primitives/input/password-input.tsx
  packages/frontend/components/primitives/input/styles.ts
  packages/frontend/components/primitives/loader/component.tsx
  packages/frontend/components/primitives/loader/index.ts
  packages/frontend/components/primitives/loader/spinner/component.tsx
  packages/frontend/components/primitives/loader/spinner/index.ts
  packages/frontend/components/primitives/loader/spinner/styles.ts
  packages/frontend/components/primitives/loader/types.ts
  packages/frontend/helpers/cookies.ts
  packages/frontend/helpers/validation.ts
  packages/frontend/pages/auth/email-verify/index.tsx
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/pages/login/index.tsx
  packages/frontend/pages/sign-up/index.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/validation.json
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/public/locales/uk/common.json
  packages/frontend/public/locales/uk/validation.json
  packages/frontend/services/auth.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/theme/globalStyles.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/common/constants.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/enums/verify/index.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/user/user-sign-up-dto.ts
  packages/shared/src/common/types/verify/index.ts
  packages/shared/src/common/types/verify/verify-phone-dto.ts
Labels: frontend, backend, mobile, shared

#85 Icon component
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/footer/links/contacts.tsx
  packages/frontend/components/footer/links/policy.tsx
  packages/frontend/components/primitives/dashboard-link/component.tsx
  packages/frontend/components/primitives/icon/component.tsx
  packages/frontend/components/primitives/icon/types.ts
  packages/frontend/components/primitives/menu-dropdown/component.tsx
  packages/frontend/components/product/timer/component.tsx
  packages/frontend/components/user-account-layout/account-links-data.ts
  packages/frontend/components/user-account-layout/types.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/public/css/fontawesome.css
  packages/frontend/public/webfonts/fa-brands-400.ttf
  packages/frontend/public/webfonts/fa-brands-400.woff2
  packages/frontend/public/webfonts/fa-regular-400.ttf
  packages/frontend/public/webfonts/fa-regular-400.woff2
  packages/frontend/public/webfonts/fa-solid-900.ttf
  packages/frontend/public/webfonts/fa-solid-900.woff2
  packages/frontend/public/webfonts/fa-v4compatibility.ttf
  packages/frontend/public/webfonts/fa-v4compatibility.woff2
Labels: frontend

#88 VB-5: add logger
  packages/backend/.gitignore
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/middlewares/logger.ts
  packages/backend/src/error/error-handler.ts
  packages/backend/src/helpers/logger.ts
  packages/backend/src/providers/sms/BarSMSProvider.ts
  packages/backend/src/providers/sms/TwilioSMSProvider.ts
  packages/backend/src/server.ts
  packages/backend/src/services/email.ts
  packages/backend/src/services/redis-storage.ts
  packages/backend/src/services/sms/sms-sender.ts
Labels: backend

#72 VB-65: add icon button component
  packages/frontend/common/enums/iconButtonBgColor.ts
  packages/frontend/common/enums/icons.ts
  packages/frontend/common/enums/index.ts
  packages/frontend/components/primitives/dashboard-link/component.tsx
  packages/frontend/components/primitives/icon-button/component.tsx
  packages/frontend/components/primitives/icon-button/index.ts
  packages/frontend/components/primitives/icon-button/styles.ts
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/primitives/icon/types.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/input/password-input.tsx
  packages/frontend/components/product/favorite-button/component.tsx
  packages/frontend/components/product/favorite-button/styles.ts
  packages/frontend/components/product/image-slider/controls.tsx
  packages/frontend/components/user-account-layout/account-links-data.ts
  packages/frontend/components/user-account-layout/types.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/test.tsx
Labels: frontend

#91 Feature/home page back
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220816125859_add_image_col_to_category/migration.sql
  packages/backend/prisma/migrations/20220817084114_add_news_table/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/clearData.ts
  packages/backend/prisma/seed/config/config.ts
  packages/backend/prisma/seed/controllers/create/news.ts
  packages/backend/prisma/seed/controllers/update/category.ts
  packages/backend/prisma/seed/controllers/update/news.ts
  packages/backend/prisma/seed/createData.ts
  packages/backend/prisma/seed/data/Category.ts
  packages/backend/prisma/seed/data/news.ts
  packages/backend/prisma/seed/mockData/category.json
  packages/backend/prisma/seed/mockData/news.json
  packages/backend/prisma/seed/update.ts
  packages/backend/src/api/routes/category.ts
  packages/backend/src/api/routes/index.ts
  packages/backend/src/api/routes/news.ts
  packages/backend/src/api/routes/product.ts
  packages/backend/src/repositories/category.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/news.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/category.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/news.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/home/component.tsx
  packages/frontend/components/home/index.ts
  packages/frontend/components/home/promo-section/component.tsx
  packages/frontend/components/home/promo-section/index.ts
  packages/frontend/components/home/promo-section/styles.ts
  packages/frontend/components/home/promo-section/types.ts
  packages/frontend/components/index.ts
  packages/frontend/pages/index.tsx
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, shared

#93 Use nextjs's emotion compiler
  packages/frontend/.babelrc
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/primitives/index.ts
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/_document.tsx
Labels: frontend

#89 VBM-71: bold custom(Raleway) fonts fix
  packages/mobile/src/styles/font/font.ts
Labels: mobile

#79 VBM-16: splash screen
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/com/mobile/MainActivity.java
  packages/mobile/android/app/src/main/res/mipmap-hdpi/bootsplash_logo.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/bootsplash_logo.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/bootsplash_logo.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/bootsplash_logo.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/bootsplash_logo.png
  packages/mobile/android/app/src/main/res/values/colors.xml
  packages/mobile/android/app/src/main/res/values/styles.xml
  packages/mobile/android/build.gradle
  packages/mobile/ios/mobile/BootSplash.storyboard
  packages/mobile/ios/mobile/Images.xcassets/BootSplashLogo.imageset/Contents.json
  packages/mobile/ios/mobile/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo.png
  packages/mobile/ios/mobile/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@2x.png
  packages/mobile/ios/mobile/Images.xcassets/BootSplashLogo.imageset/bootsplash_logo@3x.png
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/assets/images/logo.png
  packages/mobile/src/index.tsx
Labels: mobile

#92 VB-70: phone verification on frontend
  packages/backend/prisma/ERD.svg
  packages/backend/src/services/verify.ts
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/auth/verification/validation.ts
  packages/frontend/components/header/component.tsx
  packages/frontend/components/primitives/error/component.tsx
  packages/frontend/components/primitives/error/index.ts
  packages/frontend/components/primitives/error/styles.ts
  packages/frontend/helpers/text.ts
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/public/locales/en/validation.json
  packages/frontend/public/locales/uk/validation.json
  packages/frontend/services/auth.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/reducer.ts
  packages/mobile/package-lock.json
  packages/mobile/src/store/auth/actions.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/auth/index.ts
  packages/shared/src/common/types/auth/phone-verify.ts
  packages/shared/src/common/types/user/index.ts
  packages/shared/src/common/types/user/user-dto.ts
  packages/shared/src/common/types/user/user-response-dto.ts
  packages/shared/src/exceptions/error-response.ts
  packages/shared/src/exceptions/index.ts
  packages/shared/src/helpers/https.ts
Labels: frontend, backend, mobile, shared

#97 VBM-64: Codemagic CD
  .vscode/settings.json
  codemagic.yaml
  packages/mobile/.gitignore
  packages/mobile/android/app/build.gradle
Labels: mobile, root

#99 VB-70: frontend phone verification improvements
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/sms/sms-sender.ts
  packages/backend/src/services/verify.ts
  packages/frontend/common/constants/app.ts
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/auth/verification/resend-code/component.tsx
  packages/frontend/components/auth/verification/resend-code/index.ts
  packages/frontend/components/auth/verification/resend-code/styles.ts
  packages/frontend/components/auth/verification/resend-code/types.ts
  packages/frontend/components/auth/verification/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/link-button/component.tsx
  packages/frontend/components/primitives/link-button/index.ts
  packages/frontend/components/primitives/link-button/styles.ts
  packages/frontend/components/primitives/link-button/types.ts
  packages/frontend/pages/auth/email-verify/index.tsx
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/services/auth.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, shared

#102 VB-91: remove pattern validation
  .eslintrc.js
  packages/frontend/validation-schemas/user/sign-in.ts
Labels: frontend

#104 VB-106: update redis security
  .docker/README.md
  .docker/config/redis.conf
  .docker/docker-compose.db.yaml
  .docker/docker-compose.redis.yaml
  packages/backend/.env.example
  packages/backend/src/helpers/env.ts
  packages/backend/src/services/redis-storage.ts
Labels: backend

#105 VB-107: added favicon
  packages/frontend/pages/_document.tsx
  packages/frontend/public/images/favicon/android-chrome-192x192.png
  packages/frontend/public/images/favicon/android-chrome-512x512.png
  packages/frontend/public/images/favicon/apple-touch-icon.png
  packages/frontend/public/images/favicon/favicon-16x16.png
  packages/frontend/public/images/favicon/favicon-32x32.png
  packages/frontend/public/images/favicon/favicon.ico
  packages/frontend/public/images/favicon/site.webmanifest
Labels: frontend

#107 Feature/progressbar
  packages/frontend/components/primitives/loader/spinner/component.tsx
  packages/frontend/components/primitives/pages-loader/component.tsx
  packages/frontend/components/primitives/pages-loader/index.ts
  packages/frontend/components/primitives/pages-loader/styles.ts
  packages/frontend/pages/_app.tsx
Labels: frontend

#111 VB-88: fix AuthProvider
  packages/frontend/helpers/index.tsx
  packages/frontend/helpers/withProtected.ts
  packages/frontend/helpers/withPublic.ts
  packages/frontend/hocs/withAuth.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/auth/email-verify/index.tsx
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/sign-in/index.tsx
  packages/frontend/pages/sign-up/index.tsx
  packages/frontend/pages/user-account/index.tsx
  packages/frontend/pages/users/index.tsx
  packages/frontend/providers/UserProvider/index.tsx
  packages/frontend/providers/index.ts
Labels: bug, frontend

#116 Item page infrastructure
  packages/frontend/components/index.ts
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/index.ts
  packages/frontend/pages/items/[id].tsx
Labels: frontend

#110 EmotionJS theme augmentation
  packages/frontend/common/types/emotion.d.ts
  packages/frontend/components/auth/layout/styles.ts
  packages/frontend/components/auth/verification/resend-code/styles.ts
  packages/frontend/components/authLayout/styles.ts
  packages/frontend/components/footer/common/styles.ts
  packages/frontend/components/footer/content-wrapper/styles.ts
  packages/frontend/components/footer/form/styles.ts
  packages/frontend/components/footer/links/styles.ts
  packages/frontend/components/footer/logo/styles.ts
  packages/frontend/components/footer/styles.ts
  packages/frontend/components/header/profile-info/styles.ts
  packages/frontend/components/header/profile-info/types.ts
  packages/frontend/components/header/styles.ts
  packages/frontend/components/home/promo-section/styles.ts
  packages/frontend/components/login/styles.ts
  packages/frontend/components/primitives/avatar/styles.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/checkbox/styles.ts
  packages/frontend/components/primitives/container/styles.ts
  packages/frontend/components/primitives/container/types.ts
  packages/frontend/components/primitives/dashboard-link/styles.ts
  packages/frontend/components/primitives/download-button/styles.ts
  packages/frontend/components/primitives/error/styles.ts
  packages/frontend/components/primitives/icon-button/styles.ts
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/primitives/icon/styles.ts
  packages/frontend/components/primitives/input/styles.ts
  packages/frontend/components/primitives/link-button/styles.ts
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/loader/spinner/styles.ts
  packages/frontend/components/primitives/logo/styles.ts
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/components/primitives/popover/styles.ts
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/components/product/card/styles.ts
  packages/frontend/components/product/price/styles.ts
  packages/frontend/components/product/timer/styles.ts
  packages/frontend/components/sub-pages/common/styles.ts
  packages/frontend/components/sub-pages/user-account/personal-info/styles.ts
  packages/frontend/components/user-account-layout/styles.ts
  packages/frontend/pages/login/index.tsx
  packages/frontend/theme/globalStyles.tsx
  packages/frontend/theme/theme.ts
  packages/frontend/tsconfig.json
Labels: frontend

#117 VB-110: fix tooltip overflow screen edges
  packages/frontend/components/primitives/tooltip/component.tsx
Labels: bug, frontend

#95 VBM-49: screen wrapper
  packages/mobile/src/common/types/navigation/navigation.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/flag-background-view/flag-background-view.tsx
  packages/mobile/src/components/header-button/header-button.tsx
  packages/mobile/src/components/screen-wrapper/screen-wrapper.tsx
  packages/mobile/src/components/screen-wrapper/styles.ts
  packages/mobile/src/components/text/text.tsx
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/localization/i18n.ts
  packages/mobile/src/screens/account/account.tsx
  packages/mobile/src/screens/auth/auth.tsx
  packages/mobile/src/screens/auth/components/header/header.tsx
  packages/mobile/src/screens/auth/components/header/styles.ts
  packages/mobile/src/screens/auth/styles.ts
  packages/mobile/src/screens/favorite/favorite.tsx
  packages/mobile/src/screens/home/home.tsx
  packages/mobile/src/screens/messages/messages.tsx
  packages/mobile/src/screens/personal-info/components/profile-image/profile-image.tsx
  packages/mobile/src/screens/personal-info/personal-info.tsx
  packages/mobile/src/screens/welcome/styles.ts
  packages/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#96 Backend/healthcheck route
  .docker/docker-compose.db.yaml
  .docker/docker-compose.redis.yaml
  .vscode/settings.json
  packages/backend/prisma/seed/mockData/address.json
  packages/backend/prisma/seed/mockData/bid.json
  packages/backend/prisma/seed/mockData/chat.json
  packages/backend/prisma/seed/mockData/chat_member.json
  packages/backend/prisma/seed/mockData/message.json
  packages/backend/prisma/seed/mockData/news.json
  packages/backend/prisma/seed/mockData/product.json
  packages/backend/prisma/seed/mockData/social_media.json
  packages/backend/prisma/seed/mockData/user.json
  packages/backend/prisma/seed/mockData/user_settings.json
  packages/backend/src/api/routes/health.ts
  packages/backend/src/api/routes/index.ts
  packages/backend/src/repositories/health.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/services/health.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/redis-storage.ts
  packages/frontend/public/css/fontawesome.css
  packages/mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/Contents.json
  packages/mobile/ios/mobile/Images.xcassets/Contents.json
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, mobile, shared

#125 VB-111: create sticky header
  packages/backend/prisma/ERD.svg
  packages/frontend/components/header/styles.ts
Labels: frontend, backend

#103 VB-105: update header items color
  packages/frontend/components/header/component.tsx
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/primitives/icon/component.tsx
  packages/frontend/components/primitives/icon/types.ts
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/enums/theme/color-palette.ts
Labels: frontend, shared

#120 VMB-79: change placeholder font color
  packages/mobile/src/config/navigation-theme.config.ts
Labels: mobile

#124 VB-115: add user object to sign-in/sign-up responses
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/mapper/index.ts
  packages/backend/src/mapper/response.ts
  packages/backend/src/services/auth.ts
  packages/backend/tsconfig.json
  packages/shared/src/common/types/auth/auth-response.ts
  packages/shared/src/common/types/auth/index.ts
  packages/shared/src/common/types/user/user-response-dto.ts
Labels: backend, shared

#98 Feature/home page
  packages/backend/package-lock.json
  packages/backend/src/api/routes/product.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/common/types/product/index.ts
  packages/backend/src/common/types/product/product-query.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/category-section/index.ts
  packages/frontend/components/home/category-section/styles.ts
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/charity-section/index.ts
  packages/frontend/components/home/charity-section/styles.ts
  packages/frontend/components/home/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/home/lot-section/index.ts
  packages/frontend/components/home/lot-section/styles.ts
  packages/frontend/components/home/lot-section/types.ts
  packages/frontend/components/home/promo-section/component.tsx
  packages/frontend/components/home/promo-section/styles.ts
  packages/frontend/components/home/section-layout/component.tsx
  packages/frontend/components/home/section-layout/index.ts
  packages/frontend/components/home/section-layout/styles.ts
  packages/frontend/components/home/section-layout/types.ts
  packages/frontend/components/home/types.ts
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/index.tsx
  packages/frontend/public/images/categories/appliances.png
  packages/frontend/public/images/categories/arts.png
  packages/frontend/public/images/categories/decor.png
  packages/frontend/public/images/categories/toys.png
  packages/frontend/public/images/charity/hope.svg
  packages/frontend/public/images/charity/humanitarian.png
  packages/frontend/public/images/charity/international.svg
  packages/frontend/public/images/charity/live.svg
  packages/frontend/public/images/charity/medicine.svg
  packages/frontend/public/images/charity/prytula.svg
  packages/frontend/public/images/icons/flag-ukraine.svg
  packages/frontend/services/category.ts
  packages/frontend/services/product.ts
  packages/frontend/store/category/action-types.ts
  packages/frontend/store/category/actions.ts
  packages/frontend/store/category/index.ts
  packages/frontend/store/category/reducer.ts
  packages/frontend/store/product/action-types.ts
  packages/frontend/store/product/actions.ts
  packages/frontend/store/product/index.ts
  packages/frontend/store/product/reducer.ts
  packages/frontend/store/store.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/enums/product/index.ts
  packages/shared/src/common/enums/product/product-type.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-dto.ts
Labels: frontend, backend, shared

#126 VB-130: fix error handling and set reqired fields in email options
  packages/backend/src/common/types/email/email-options.ts
  packages/backend/src/services/email.ts
Labels: backend

#100 VB-80: added localization types
  packages/frontend/README.md
  packages/frontend/common/types/localization/localization.ts
  packages/frontend/components/auth/layout/styles.ts
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/auth/verification/email-verification.tsx
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/auth/verification/resend-code/component.tsx
  packages/frontend/components/authLayout/component.tsx
  packages/frontend/components/footer/form/form.tsx
  packages/frontend/components/footer/links/contacts.tsx
  packages/frontend/components/footer/links/policy.tsx
  packages/frontend/components/header/component.tsx
  packages/frontend/components/login/component.tsx
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/timer/component.tsx
  packages/frontend/components/sub-pages/user-account/personal-info/component.tsx
  packages/frontend/components/user-account-layout/account-links-data.ts
  packages/frontend/components/user-account-layout/component.tsx
  packages/frontend/components/user-account-layout/layout.tsx
  packages/frontend/components/user-account-layout/types.ts
  packages/frontend/next-i18next.config.js
  packages/frontend/pages/auth/email-verify/index.tsx
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/login/index.tsx
  packages/frontend/pages/sign-in/index.tsx
  packages/frontend/pages/sign-up/index.tsx
  packages/frontend/pages/user-account/dashboard/personal-info.tsx
  packages/frontend/pages/user-account/index.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/en/categories.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/dashboard.json
  packages/frontend/public/locales/en/footer.json
  packages/frontend/public/locales/en/home.json
  packages/frontend/public/locales/en/index.ts
  packages/frontend/public/locales/en/page-titles.json
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/en/product.json
  packages/frontend/public/locales/en/public.json
  packages/frontend/public/locales/en/user-account.json
  packages/frontend/public/locales/en/validation.json
  packages/frontend/public/locales/ua/auth.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/public/locales/ua/home.json
  packages/frontend/public/locales/ua/index.ts
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/public/locales/ua/public.json
  packages/frontend/public/locales/ua/user-account.json
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/public/locales/uk/categories.json
  packages/frontend/public/locales/uk/common.json
  packages/frontend/public/locales/uk/dashboard.json
  packages/frontend/public/locales/uk/footer.json
  packages/frontend/public/locales/uk/home.json
  packages/frontend/public/locales/uk/page-titles.json
  packages/frontend/public/locales/uk/personal-info.json
  packages/frontend/public/locales/uk/product.json
  packages/frontend/public/locales/uk/validation.json
Labels: frontend

#112 Email verification
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/translation.json
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/common/enums/services/email/index.ts
  packages/backend/src/common/enums/services/index.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/verify.ts
  packages/frontend/components/auth/verification/email-verification.tsx
  packages/frontend/services/auth.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/reducers.ts
  packages/shared/src/common/types/auth/email-verify.ts
  packages/shared/src/common/types/auth/index.ts
  packages/shared/src/common/types/verify/index.ts
  packages/shared/src/common/types/verify/verify-email-dto.ts
Labels: frontend, backend, shared

#129 VB-116: "Make a post" infrastructure
  packages/frontend/components/index.ts
  packages/frontend/components/post/component.tsx
  packages/frontend/components/post/index.ts
  packages/frontend/pages/items/create.tsx
Labels: frontend

#121 VB-127: add route for get product by id; refactor get products route;
  packages/backend/src/api/routes/product.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/common/types/product/index.ts
  packages/backend/src/common/types/services/ProductService.ts
  packages/backend/src/common/types/services/index.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/backend/src/services/redis-storage.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: backend, shared

#130 VB-123 add filter
  packages/backend/src/common/types/services/ProductService.ts
  packages/backend/src/repositories/product.ts
  packages/shared/src/common/enums/api/index.ts
  packages/shared/src/common/enums/api/order.ts
Labels: backend, shared

#109 Feature/update auth
  packages/frontend/common/types/index.ts
  packages/frontend/common/types/localization/localization.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/auth/verification/email-verification.tsx
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/header/component.tsx
  packages/frontend/components/header/profile-info/component.tsx
  packages/frontend/components/header/profile-info/sub-components/popover-content.tsx
  packages/frontend/components/header/profile-info/types.ts
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/component.tsx
  packages/frontend/components/login/component.tsx
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/icon/types.ts
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/helpers/auth.ts
  packages/frontend/hocs/withAuth.tsx
  packages/frontend/hooks/index.ts
  packages/frontend/hooks/use-auth.ts
  packages/frontend/hooks/use-mounted.ts
  packages/frontend/hooks/use-outside-click.ts
  packages/frontend/hooks/useCheckAuth.ts
  packages/frontend/pages/users/index.tsx
  packages/frontend/providers/UserProvider/index.tsx
  packages/frontend/public/locales/en/home.json
  packages/frontend/public/locales/ua/home.json
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/auth/selectors.ts
  packages/frontend/store/profile/action-types.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/index.ts
  packages/frontend/store/profile/reducer.ts
  packages/frontend/store/store.ts
  packages/shared/src/common/types/user/user-dto.ts
Labels: frontend, shared

#127 Feature/reset pass page
  packages/backend/.env.example
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/common/types/email/email-options.ts
  packages/backend/src/email/mail-builder-interface.ts
  packages/backend/src/email/mail-builder.ts
  packages/backend/src/email/reset-password-mail-builder.ts
  packages/backend/src/error/reset-password/reset-pass-link-invalid.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/email/email.ts
  packages/backend/src/services/email/index.ts
  packages/backend/src/services/hash.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/verify.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/auth/reset-password/component.tsx
  packages/frontend/components/auth/reset-password/index.ts
  packages/frontend/components/auth/reset-password/validation.ts
  packages/frontend/components/auth/styles.ts
  packages/frontend/components/login/component.tsx
  packages/frontend/components/primitives/divider/component.tsx
  packages/frontend/components/primitives/divider/index.ts
  packages/frontend/components/primitives/divider/styles.ts
  packages/frontend/pages/forgot-password/index.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/auth.json
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/public/locales/uk/common.json
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/auth/index.ts
  packages/shared/src/common/types/auth/reset-password-link.ts
Labels: frontend, backend, shared

#108 VB-3: Feature/connect open api tool
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/api/routes/category.ts
  packages/backend/src/api/routes/news.ts
  packages/backend/src/api/routes/product.ts
  packages/backend/src/api/routes/upload-image.ts
  packages/backend/src/api/routes/user.ts
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/repositories/refresh-token.ts
  packages/backend/src/server.ts
Labels: backend

#134 Feature/filters page infrastructure
  packages/frontend/components/filter/component.tsx
  packages/frontend/components/filter/index.ts
  packages/frontend/components/index.ts
  packages/frontend/pages/items/filter.tsx
Labels: frontend

#113 'VBM-77: change user's access for navigation
  packages/mobile/src/common/enums/navigation/main-screen-name.enum.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/navigation/navigation.tsx
  packages/mobile/src/navigation/tabs/tabs.navigation.tsx
  packages/mobile/src/navigation/welcome/welcome.navigation.tsx
Labels: mobile

#119 VBM-80: Fix logo sign-in sign-up pages
  packages/mobile/src/assets/images/images.ts
  packages/mobile/src/assets/images/stamp.jpg
  packages/mobile/src/assets/images/stamp.png
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/logo/logo-white.tsx
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/screens/auth/components/header/header.tsx
  packages/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#147 VB-128: fix avatar component
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/avatar/styles.ts
Labels: frontend

#142 VB-144: Fix/bug with dropdown
  packages/frontend/components/header/profile-info/styles.ts
  packages/frontend/components/primitives/avatar/styles.ts
  packages/frontend/components/primitives/popover/styles.ts
Labels: frontend

#145 VB-151 add active link
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/header/component.tsx
Labels: frontend

#136 VB-136: Feature/localise not localised parts in fe
  packages/frontend/components/authLayout/component.tsx
  packages/frontend/components/header/component.tsx
  packages/frontend/components/home/promo-section/component.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/home.json
  packages/frontend/public/locales/ua/auth.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/public/locales/ua/home.json
Labels: frontend

#143 Feature/localised categories
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/translation.json
  packages/backend/prisma/seed/helpers/categories.ts
  packages/backend/src/api/routes/category.ts
  packages/backend/src/repositories/category.ts
  packages/backend/src/services/category.ts
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/category-section/styles.ts
  packages/frontend/pages/index.tsx
  packages/frontend/services/category.ts
  packages/frontend/store/category/actions.ts
  packages/frontend/store/category/reducer.ts
  packages/shared/src/common/enums/http/http-accept-language.ts
  packages/shared/src/common/enums/http/http-header.ts
  packages/shared/src/common/enums/http/index.ts
  packages/shared/src/common/types/category/category-dto.ts
  packages/shared/src/common/types/category/index.ts
  packages/shared/src/common/types/http/fetch-options.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/helpers/https.ts
Labels: frontend, backend, shared

#140 Add item views count
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220824155100_add_views_field_to_product/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/controllers/update/product.ts
  packages/backend/prisma/seed/data/product.ts
  packages/backend/prisma/seed/data/user.ts
  packages/backend/prisma/seed/mockData/address.json
  packages/backend/prisma/seed/mockData/bid.json
  packages/backend/prisma/seed/mockData/category.json
  packages/backend/prisma/seed/mockData/chat.json
  packages/backend/prisma/seed/mockData/chat_member.json
  packages/backend/prisma/seed/mockData/message.json
  packages/backend/prisma/seed/mockData/news.json
  packages/backend/prisma/seed/mockData/product.json
  packages/backend/prisma/seed/mockData/social_media.json
  packages/backend/prisma/seed/mockData/user.json
  packages/backend/prisma/seed/mockData/user_settings.json
  packages/backend/src/api/routes/product.ts
  packages/backend/src/helpers/jwt.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/services/product.ts
  packages/frontend/store/product/action-types.ts
  packages/frontend/store/product/actions.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, shared

#149 VBM-97: Hermes enabled
  packages/mobile/android/app/build.gradle
Labels: mobile

#151 VBM-103 : fields color fix ( input text, dropdown )
  packages/mobile/src/components/dropdown/dropdown.tsx
  packages/mobile/src/components/input/input.tsx
Labels: mobile

#150 VB-86: Feature/categories in header
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/header/component.tsx
  packages/frontend/pages/items/index.tsx
Labels: frontend

#138 VB-147: split doc files to separate files
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/api/routes/category.ts
  packages/backend/src/api/routes/news.ts
  packages/backend/src/api/routes/product.ts
  packages/backend/src/api/routes/user.ts
  packages/backend/src/docs/body/auth/sign-in.ts
  packages/backend/src/docs/entity/category.ts
  packages/backend/src/docs/entity/news.ts
  packages/backend/src/docs/entity/product-status.ts
  packages/backend/src/docs/entity/product-type.ts
  packages/backend/src/docs/entity/product.ts
  packages/backend/src/docs/entity/refresh-token.ts
  packages/backend/src/docs/entity/role.ts
  packages/backend/src/docs/entity/user.ts
  packages/backend/src/docs/response/auth/sign-in.ts
  packages/backend/src/server.ts
  packages/frontend/store/auth/actions.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, shared

#144 Feature/make a post forms
  packages/backend/src/api/routes/index.ts
  packages/backend/src/api/routes/post.ts
  packages/frontend/common/constants/.gitkeep
  packages/frontend/common/enums/allowedImgExtension.ts
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/index.ts
  packages/frontend/components/post/component.tsx
  packages/frontend/components/primitives/input/input.tsx
  packages/frontend/components/primitives/input/styles.ts
  packages/frontend/components/primitives/input/types.ts
  packages/frontend/components/primitives/pages-loader/styles.ts
  packages/frontend/components/primitives/textarea/component.tsx
  packages/frontend/components/primitives/textarea/index.ts
  packages/frontend/components/primitives/textarea/styles.ts
  packages/frontend/components/primitives/textarea/types.ts
  packages/frontend/components/save-post/component.tsx
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/components/save-post/form.tsx
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/components/save-post/index.ts
  packages/frontend/components/save-post/styles.ts
  packages/frontend/components/save-post/types.ts
  packages/frontend/next.config.mjs
  packages/frontend/pages/items/create.tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/en/index.ts
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/public/locales/ua/index.ts
  packages/frontend/services/post.ts
  packages/frontend/theme/theme.ts
  packages/frontend/tsconfig.json
  packages/frontend/validation-schemas/post/create-post.ts
  packages/frontend/validation-schemas/post/index.ts
  packages/shared/src/common/constants/index.ts
  packages/shared/src/common/constants/post.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/enums/http/http-content-type.ts
  packages/shared/src/common/types/http/fetch-options.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/post/forms.ts
  packages/shared/src/common/types/post/index.ts
  packages/shared/src/helpers/https.ts
  packages/shared/src/index.ts
Labels: frontend, backend, shared

#160 VBM-76: minor fixes
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/platform.ts
  packages/mobile/src/common/constants/validation.ts
  packages/mobile/src/common/regexp/regexp.ts
  packages/mobile/src/common/regexp/validation/email.ts
  packages/mobile/src/common/regexp/validation/password.ts
  packages/mobile/src/common/regexp/validation/phone-number.ts
  packages/mobile/src/common/regexp/validation/special-symbols.ts
  packages/mobile/src/common/regexp/validation/validation.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/validation-schemas/constants/constants.ts
  packages/mobile/src/validation-schemas/helpers/email-validator.ts
  packages/mobile/src/validation-schemas/helpers/name-validator.ts
  packages/mobile/src/validation-schemas/helpers/password-validator.ts
  packages/mobile/src/validation-schemas/user/sign-up.ts
Labels: mobile

#114 VBM-76: Sign Up added
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/platform.ts
  packages/mobile/src/common/constants/validation.ts
  packages/mobile/src/common/regexp/regexp.ts
  packages/mobile/src/common/regexp/validation/email.ts
  packages/mobile/src/common/regexp/validation/password.ts
  packages/mobile/src/common/regexp/validation/phone-number.ts
  packages/mobile/src/common/regexp/validation/special-symbols.ts
  packages/mobile/src/common/regexp/validation/validation.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/mobile/src/services/auth-api/auth-api.service.ts
  packages/mobile/src/store/auth/actions.ts
  packages/mobile/src/store/auth/reducer.ts
  packages/mobile/src/validation-schemas/helpers/email-validator.ts
  packages/mobile/src/validation-schemas/helpers/helpers.ts
  packages/mobile/src/validation-schemas/helpers/name-validator.ts
  packages/mobile/src/validation-schemas/helpers/password-validator.ts
  packages/mobile/src/validation-schemas/user/sign-up.ts
Labels: mobile

#158 Item views count
  packages/backend/prisma/seed/mockData/address.json
  packages/backend/prisma/seed/mockData/bid.json
  packages/backend/prisma/seed/mockData/category.json
  packages/backend/prisma/seed/mockData/chat.json
  packages/backend/prisma/seed/mockData/chat_member.json
  packages/backend/prisma/seed/mockData/message.json
  packages/backend/prisma/seed/mockData/news.json
  packages/backend/prisma/seed/mockData/product.json
  packages/backend/prisma/seed/mockData/social_media.json
  packages/backend/prisma/seed/mockData/user.json
  packages/backend/prisma/seed/mockData/user_settings.json
  packages/backend/src/api/routes/product.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info/item-title/component.tsx
  packages/frontend/components/item/item-info/item-title/view-counter/component.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/services/product.ts
  packages/shared/src/common/types/product/item-dto.ts
  packages/shared/src/common/types/product/product-dto.ts
Labels: frontend, backend, shared

#153 add try block
  packages/frontend/pages/index.tsx
  packages/frontend/services/product.ts
Labels: frontend

#161 Feature/make a post forms
  packages/frontend/components/primitives/checkbox/component.tsx
  packages/frontend/components/primitives/input/input.tsx
  packages/frontend/components/primitives/input/styles.ts
  packages/frontend/components/primitives/input/types.ts
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/components/save-post/form.tsx
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/components/save-post/styles.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/validation-schemas/post/create-post.ts
Labels: frontend

#159 VBM: Improved button component styles
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/types/theme/theme.type.ts
  packages/mobile/src/components/button/button.tsx
  packages/mobile/src/components/button/common/helpers/button-style.helper.ts
  packages/mobile/src/components/button/common/helpers/helpers.ts
  packages/mobile/src/components/button/common/hooks/hooks.ts
  packages/mobile/src/components/button/common/hooks/use-button-style.ts
  packages/mobile/src/components/button/common/types/button-props.type.ts
  packages/mobile/src/components/button/common/types/types.ts
  packages/mobile/src/components/button/styles.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/primary-button/primary-button.tsx
  packages/mobile/src/components/secondary-button/secondary-button.tsx
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
  packages/mobile/src/screens/welcome/components/product/product.tsx
  packages/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#162 Changed redis client, fixed tls connection
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/helpers/env.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/redis-storage.ts
  packages/shared/src/common/enums/environment/environment.ts
  packages/shared/src/common/enums/environment/index.ts
  packages/shared/src/common/enums/index.ts
Labels: backend, shared

#164 Limit log file be; Fix localization Item Page; Remove useless folder on frontend/locales
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/translation.json
  packages/backend/src/helpers/logger.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/primitives/breadcrumbs/component.tsx
  packages/frontend/components/primitives/breadcrumbs/index.ts
  packages/frontend/components/primitives/breadcrumbs/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/uk/auth.json
  packages/frontend/public/locales/uk/common.json
Labels: frontend, backend

#170 Fixed init of emailService
  packages/backend/src/common/types/email/mail-builder-interface.ts
  packages/backend/src/email/mail-builder.ts
  packages/backend/src/providers/index.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/email.ts
  packages/backend/src/services/email/index.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/verify.ts
Labels: backend

#131 VB-121: "Make a post" - consent page/modal
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/seed/mockData/product.json
  packages/frontend/README.md
  packages/frontend/components/make-a-post/consent/component.tsx
  packages/frontend/components/make-a-post/consent/index.ts
  packages/frontend/components/make-a-post/consent/styles.ts
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/modal/component.tsx
  packages/frontend/components/primitives/modal/index.ts
  packages/frontend/components/primitives/modal/styles.ts
  packages/frontend/components/primitives/modal/types.ts
  packages/frontend/next-i18next.config.js
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/items/create.tsx
  packages/frontend/pages/rules.tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/en/public.json
  packages/frontend/public/locales/en/rules.json
  packages/frontend/public/locales/ua/item.json
  packages/frontend/public/locales/ua/rules.json
  packages/frontend/tsconfig.json
Labels: frontend, backend

#173 VB-165: fix refreshing tokens
  packages/backend/src/services/auth.ts
  packages/frontend/components/rules/component.tsx
  packages/shared/src/helpers/https.ts
Labels: frontend, backend, shared

#141 VBM-64: codemagic play console deploy
  codemagic.yaml
  packages/mobile/android/app/_BUCK
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/debug/java/com/vsebude/ReactNativeFlipper.java
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/com/vsebude/MainActivity.java
  packages/mobile/android/app/src/main/java/com/vsebude/MainApplication.java
  packages/mobile/android/app/src/main/java/com/vsebude/newarchitecture/MainApplicationReactNativeHost.java
  packages/mobile/android/app/src/main/java/com/vsebude/newarchitecture/components/MainComponentsRegistry.java
  packages/mobile/android/app/src/main/java/com/vsebude/newarchitecture/modules/MainApplicationTurboModuleManagerDelegate.java
  packages/mobile/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  packages/mobile/android/app/src/main/jni/MainComponentsRegistry.h
  packages/mobile/app.json
  packages/mobile/ios/mobile.xcodeproj/project.pbxproj
  packages/mobile/ios/mobile/Info.plist
Labels: mobile, root

#155 VBM-102: add secure type to password fields
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#169 VBM: change welcome screen post mark
  packages/mobile/src/assets/images/stamp.jpg
Labels: mobile

#177 VBM-117: add build & version number on home screen
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/components/build-info/build-info.tsx
  packages/mobile/src/components/components.ts
  packages/mobile/src/screens/home/home.tsx
Labels: mobile

#176 VB-141: added component
  packages/frontend/common/enums/icons.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/make-a-post/consent/component.tsx
  packages/frontend/components/make-a-post/consent/styles.ts
  packages/frontend/components/make-a-post/type-of-post/component.tsx
  packages/frontend/components/make-a-post/type-of-post/index.ts
  packages/frontend/components/make-a-post/type-of-post/styles.ts
  packages/frontend/components/make-a-post/type-of-post/types.ts
  packages/frontend/components/primitives/modal/styles.ts
  packages/frontend/pages/index.tsx
  packages/frontend/pages/items/create.tsx
  packages/frontend/public/images/postType/lego.png
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#178 change arrow color
  packages/frontend/components/header/component.tsx
  packages/frontend/components/profile/user-account-layout/dashboard-link/styles.ts
Labels: frontend

#172 VB-113: minifire fontawesome
  packages/frontend/public/css/fontawesome.css
Labels: frontend

#163 VBM-107: mocked user removed
  packages/mobile/src/common/types/auth/auth.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/navigation/navigation.tsx
  packages/mobile/src/navigation/tabs/tabs.navigation.tsx
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
  packages/mobile/src/services/auth-api/auth-api.service.ts
  packages/mobile/src/store/auth/actions.ts
  packages/mobile/src/store/selectors.ts
Labels: mobile

#181 VB-173: remove btn
  packages/frontend/pages/index.tsx
Labels: frontend

#174 VB-161: fix bug when app crushed if log files are not exists
  packages/backend/src/helpers/logger.ts
Labels: bug, backend

#183 VB-177: Fix/menu is not localized
  packages/frontend/components/header/profile-info/sub-components/popover-content.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#185 VB-186: Fix/popover have wrong position
  packages/frontend/components/primitives/popover/styles.ts
Labels: frontend

#187 VB-189: added nowrap to dropdown items
  packages/frontend/components/primitives/menu-dropdown/styles.ts
Labels: frontend

#184 VB-170: verify route
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/common/types/services/VerifyServise.ts
  packages/backend/src/common/types/services/index.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/verify.ts
  packages/frontend/public/css/fontawesome.css
Labels: frontend, backend

#179 VB-158: Feature/buy be
  packages/backend/src/api/routes/product.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/product/product-favorite-dto.ts
Labels: backend, shared

#186 VB-157: add endpoint for creating bids
  packages/backend/src/api/routes/bid.ts
  packages/backend/src/api/routes/index.ts
  packages/backend/src/common/types/bid/create-bid-dto.ts
  packages/backend/src/common/types/bid/index.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/docs/body/bid/create-bid.ts
  packages/backend/src/docs/entity/bid.ts
  packages/backend/src/docs/response/bid/create-bid.ts
  packages/backend/src/error/product/auction-ended-error.ts
  packages/backend/src/error/product/index.ts
  packages/backend/src/error/product/low-bid-price-error.ts
  packages/backend/src/error/product/product-not-found.ts
  packages/backend/src/helpers/time.ts
  packages/backend/src/repositories/bid.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/bid.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/bid/create-bid-request.ts
  packages/shared/src/common/types/bid/index.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/product/product-dto.ts
Labels: frontend, backend, shared

#192 VB-188: delete useless social icons
  packages/frontend/components/home/component.tsx
  packages/frontend/components/item/item-info/seller-info/component.tsx
Labels: bug, frontend

#193 Update codemagic.yaml
  codemagic.yaml
Labels: root

#175 Feature/image crop
  packages/frontend/components/imageCrop/component.tsx
  packages/frontend/components/imageCrop/index.ts
  packages/frontend/components/imageCrop/styles.ts
  packages/frontend/components/imageCrop/types.ts
  packages/frontend/components/index.ts
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/avatar/types.ts
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/helpers/getCroppedImg.ts
  packages/frontend/helpers/index.tsx
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/tsconfig.json
Labels: frontend

#152 VBM-101: server errors handling
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/ua/common.ts
  packages/mobile/src/store/middlewares/errors-handler.ts
  packages/mobile/src/store/middlewares/middlewares.ts
  packages/mobile/src/store/store.ts
Labels: mobile

#196 Feature/add favourite on item page
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/product/card/component.tsx
  packages/frontend/hooks/index.ts
Labels: frontend

#190 VB-28: fix sending reset link email
  packages/backend/.env.example
  packages/backend/prisma/ERD.svg
  packages/backend/src/common/types/email/email-options.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/hash.ts
Labels: backend

#197 VB-192: add ability to place a bid on frontend
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/validation.ts
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
  packages/frontend/services/product.ts
  packages/frontend/store/product/action-types.ts
  packages/frontend/store/product/actions.ts
Labels: frontend

#199 VB-171 add date-picker
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/primitives/input/date-input.tsx
  packages/frontend/components/primitives/input/index.ts
  packages/frontend/components/primitives/input/styles.ts
  packages/frontend/components/primitives/input/types.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/css/fontawesome.css
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#202 VB-199: fix popover position when window resized
  packages/frontend/components/primitives/popover/component.tsx
Labels: frontend

#201 VB-175: Fix/slider
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/charity-section/styles.ts
Labels: frontend

#207 VBM-101: fix middleware
  packages/mobile/src/store/middlewares/errors-handler.ts
Labels: mobile

#208 VB-174: Fix/popular lots scroll
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/charity-section/styles.ts
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/home/lot-section/styles.ts
Labels: frontend

#205 VB-194: update avatar backend
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/helpers/index.ts
  packages/backend/src/helpers/url.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/services/s3-storage.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: backend, shared
