Repository BinaryStudioAcademy/bsa-2022-vse-bude, pull requests merged in 2022-09, with the labels that each got.

#206 VBM-116: enable button press while keyboard on
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/scroll-view/scroll-view.tsx
Labels: mobile

#203 VBM-115:login screen padding fix
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Labels: mobile

#194 VBM-45: hide-password-icon
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/components/input/styles.ts
Labels: mobile

#217 Fix/create account validation
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/auth/sign-up/validation.ts
  packages/frontend/pages/sign-up/index.tsx
  packages/frontend/validation-schemas/user/index.ts
  packages/frontend/validation-schemas/user/sign-up.ts
Labels: frontend

#215 VB-197: add create a post button to items page
  packages/frontend/components/filter/component.tsx
Labels: frontend

#212 Feature: upload avatar
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/imageCrop/styles.ts
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/public/css/fontawesome.css
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/services/profile.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/profile/action-types.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/reducer.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/types/http/fetch-options.ts
Labels: frontend, shared

#198 VBM-114: welcome screen fix
  packages/mobile/src/components/flag-background-view/flag-background-view.tsx
  packages/mobile/src/screens/welcome/components/components.ts
  packages/mobile/src/screens/welcome/components/stamp/stamp.tsx
  packages/mobile/src/screens/welcome/components/stamp/style.ts
  packages/mobile/src/screens/welcome/styles.ts
  packages/mobile/src/screens/welcome/welcome.tsx
  packages/shared/src/common/enums/theme/color-palette.ts
Labels: mobile, shared

#211 Fix/profile
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220831090609_last_version/migration.sql
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/common/types/user/index.ts
  packages/backend/src/common/types/user/personal-info.ts
  packages/backend/src/common/types/user/profile.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/validation/profile/sub-validation/user-name.ts
  packages/frontend/components/profile/user-account-layout/component.tsx
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/profile/user-account/personal-info/primitives/profile-data/profile-data.tsx
  packages/frontend/components/profile/user-account/personal-info/primitives/profile-data/styles.ts
  packages/frontend/helpers/index.tsx
  packages/frontend/helpers/profile-mapper.ts
  packages/frontend/services/index.ts
  packages/frontend/services/profile.ts
  packages/frontend/store/index.ts
  packages/frontend/store/profile/action-types.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/index.ts
  packages/frontend/store/profile/reducer.ts
  packages/frontend/theme/theme.ts
  packages/frontend/tsconfig.json
  packages/frontend/validation-schemas/user/user-update.ts
  packages/shared/src/common/enums/default-inp-value/default-inp-value.ts
  packages/shared/src/common/enums/default-inp-value/index.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/types/profile/index.ts
  packages/shared/src/common/types/profile/save-user-profile-dto.ts
  packages/shared/src/common/types/profile/update-profile-dto.ts
  packages/shared/src/common/types/profile/user-profile-dto.ts
  packages/shared/src/common/types/social-media/social-media-dto.ts
Labels: frontend, backend, shared

#73 VBM-61: Lot card component
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/day-js.ts
  packages/mobile/src/common/constants/time.ts
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/helpers/date/date.ts
  packages/mobile/src/helpers/date/get-time-to-event/get-time-to-event.helper.ts
  packages/mobile/src/helpers/dto-name-modifiers/dto-name-modifiers.ts
  packages/mobile/src/helpers/dto-name-modifiers/format-price/format-price.ts
  packages/mobile/src/helpers/helpers.ts
  packages/mobile/src/index.tsx
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/ua/common.ts
  packages/mobile/src/screens/home/components/component.ts
  packages/mobile/src/screens/home/components/product/components/components.ts
  packages/mobile/src/screens/home/components/product/components/time-window/styles.ts
  packages/mobile/src/screens/home/components/product/components/time-window/time-window.tsx
  packages/mobile/src/screens/home/components/product/product.tsx
  packages/mobile/src/screens/home/components/product/styles.ts
  packages/mobile/src/services/app/app.service.ts
  packages/mobile/src/services/product/product.service.ts
  packages/mobile/src/services/services.ts
  packages/mobile/src/store/actions.ts
  packages/mobile/src/store/products/actions.ts
  packages/mobile/src/store/products/common.ts
  packages/mobile/src/store/products/reducer.ts
  packages/mobile/src/store/products/selectors.ts
  packages/mobile/src/store/root-reducer.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/styles/shadow/shadow.ts
  packages/mobile/src/styles/styles.ts
Labels: mobile

#218 fixed-create-account-validation: changed phone validation
  packages/frontend/validation-schemas/user/sign-up.ts
Labels: frontend

#210 Feature/leave auction
  packages/backend/src/api/routes/product.ts
  packages/backend/src/mapper/auction-permissions.ts
  packages/backend/src/mapper/index.ts
  packages/backend/src/mapper/product.ts
  packages/backend/src/repositories/bid.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/components/modal/confirm/component.tsx
  packages/frontend/components/modal/confirm/styles.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/button/types.ts
  packages/frontend/components/primitives/icon-button/component.tsx
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/public/locales/ua/item.json
  packages/frontend/services/product.ts
  packages/frontend/store/product-auction/action-types.ts
  packages/frontend/store/product-auction/actions.ts
  packages/frontend/store/product-auction/index.ts
  packages/frontend/store/product-auction/reducer.ts
  packages/frontend/store/store.ts
  packages/frontend/theme/theme.ts
  packages/mobile/src/components/flag-background-view/flag-background-view.tsx
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/product/auction-permissions-request.ts
  packages/shared/src/common/types/product/auction-permissions-response.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-id-request.ts
Labels: frontend, backend, mobile, shared

#200 Header fixes
  packages/frontend/components/header/burger-menu/component.tsx
  packages/frontend/components/header/burger-menu/profile-dropdown/component.tsx
  packages/frontend/components/header/burger-menu/profile-dropdown/styles.ts
  packages/frontend/components/header/burger-menu/styles.ts
  packages/frontend/components/header/component.tsx
  packages/frontend/components/header/navigation/categories-list/component.tsx
  packages/frontend/components/header/navigation/categories-list/styles.ts
  packages/frontend/components/header/navigation/component.tsx
  packages/frontend/components/header/navigation/styles.ts
  packages/frontend/components/header/profile-info/component.tsx
  packages/frontend/components/header/profile-info/styles.ts
  packages/frontend/components/header/profile-info/sub-components/dropdown.tsx
  packages/frontend/components/header/profile-info/types.ts
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/components/primitives/link/internal.tsx
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/components/primitives/menu-dropdown/component.tsx
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/components/primitives/menu-dropdown/types.ts
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/store/category/reducer.ts
Labels: bug, frontend

#219 VBM-124: automate deployment to play console
  codemagic.yaml
  packages/mobile/android/app/build.gradle
Labels: mobile, root

#216 VB-214: fixed close on arrow click
  packages/frontend/components/primitives/menu-dropdown/component.tsx
Labels: frontend

#223 Fix/avatar fetching
  packages/backend/src/repositories/profile.ts
Labels: backend

#221 VB-216: add avatar validation
  packages/backend/src/services/s3-storage.ts
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
Labels: frontend, backend

#224 VB-228: fix user sign out
  packages/frontend/store/auth/reducers.ts
Labels: bug, frontend

#220 VBM-124: trigger conditionally
  codemagic.yaml
  packages/mobile/android/app/build.gradle
Labels: mobile, root

#226 VB-227: add toast to actions with succes\error
  packages/frontend/components/header/profile-info/component.tsx
  packages/frontend/components/header/profile-info/sub-components/dropdown.tsx
  packages/frontend/components/primitives/popover/component.tsx
  packages/frontend/components/primitives/popover/types.ts
  packages/frontend/pages/auth/email-verify/index.tsx
  packages/frontend/pages/auth/phone-verify/index.tsx
  packages/frontend/pages/forgot-password/index.tsx
  packages/frontend/pages/reset-password/index.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/favorite-product/actions.ts
  packages/frontend/store/product-auction/actions.ts
  packages/frontend/store/product/actions.ts
  packages/frontend/store/profile/actions.ts
Labels: frontend

#225 Feature/backend make post
  packages/backend/locales/en/product.json
  packages/backend/locales/ua/product.json
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/middlewares/localization.ts
  packages/backend/src/api/routes/product.ts
  packages/backend/src/common/types/services/S3StorageService.ts
  packages/backend/src/error/product/field-error.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/backend/src/services/s3-storage.ts
  packages/backend/src/validation/product/createProduct.validation.ts
  packages/backend/src/validation/product/index.ts
  packages/backend/src/validation/product/schemas.ts
  packages/backend/src/validation/product/updateProduct.validation.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/make-a-post/type-of-post/component.tsx
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/product/create-dto.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-status-dto.ts
  packages/shared/src/common/types/product/update-dto.ts
Labels: frontend, backend, shared

#230 fix slider: imported styles
  packages/frontend/components/home/lot-section/component.tsx
Labels: frontend

#231 fix items/button
  packages/frontend/components/filter/component.tsx
Labels: frontend

#228 VB-223: Feature/disable place a bid/buy button
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
Labels: frontend

#214 VB-208: Fix/placeholder
  packages/backend/prisma/ERD.svg
  packages/frontend/common/types/auth/index.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/auth/styles.ts
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/index.ts
  packages/frontend/components/verification/component.tsx
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
  packages/frontend/components/verification/index.ts
  packages/frontend/components/verification/styles.ts
  packages/frontend/components/verification/success-verification/component.tsx
  packages/frontend/package-lock.json
  packages/frontend/pages/_app.tsx
  packages/frontend/public/images/mocup_hand1.png
  packages/frontend/public/images/mocup_hand2.png
  packages/frontend/public/images/mocup_hand3.png
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/auth.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/category/reducer.ts
  packages/frontend/store/store.ts
  packages/frontend/store/verify/action-types.ts
  packages/frontend/store/verify/actions.ts
  packages/frontend/store/verify/reducer.ts
Labels: frontend, backend

#232 Fix/layout profile
  packages/frontend/components/header/burger-menu/profile-dropdown/styles.ts
  packages/frontend/components/header/navigation/categories-list/styles.ts
  packages/frontend/components/header/profile-info/styles.ts
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/primitives/menu-dropdown/component.tsx
  packages/frontend/components/product/favorite-button/component.tsx
  packages/frontend/components/product/favorite-button/types.ts
  packages/frontend/components/profile/user-account-layout/component.tsx
  packages/frontend/components/profile/user-account-layout/dashboard-link/component.tsx
  packages/frontend/components/profile/user-account-layout/types.ts
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/primitives/profile-data/styles.ts
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/components/toasts/styles.ts
Labels: bug, frontend

#234 VB-230: fix/categories-localisation
  packages/frontend/components/header/navigation/categories-list/component.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#237 VB-237: add redirecting to category page
  packages/frontend/components/home/category-section/component.tsx
Labels: frontend

#238 VB-226: fix update profile & toast stack layout
  packages/backend/src/services/auth.ts
  packages/frontend/components/toasts/styles.ts
  packages/frontend/store/profile/actions.ts
  packages/frontend/store/profile/reducer.ts
Labels: frontend, backend

#240 VB-226: minor fixes
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/components/toasts/styles.ts
Labels: frontend

#241 fix redirect after sign-up
  packages/frontend/store/auth/actions.ts
Labels: frontend

#243 Fix category dropdown
  packages/frontend/components/header/component.tsx
Labels: frontend

#244 VB-217: Fix/auction timer
  packages/frontend/components/item/countdown-timer/component.tsx
Labels: frontend

#227 VBM-120: add logout
  packages/mobile/src/screens/account/account.tsx
  packages/mobile/src/store/auth/actions.ts
  packages/mobile/src/store/auth/common.ts
  packages/mobile/src/store/auth/reducer.ts
Labels: mobile

#249 VB-248: fix/products-slider
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
Labels: frontend

#166 VBM-110: add seller info component's layout
  packages/mobile/src/components/icons/icons.tsx
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/common.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/mock/mock-seller-info.ts
  packages/mobile/src/screens/product-info/components/seller-info/seller-info.tsx
  packages/mobile/src/screens/product-info/components/seller-info/social-button.tsx
  packages/mobile/src/screens/product-info/components/seller-info/styles.ts
Labels: mobile

#242 VB-233: fix favorite btn on item page
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
Labels: frontend

#252 VB-254: fix resending email verification code
  packages/backend/src/api/routes/verify.ts
Labels: backend

#251 VB-180: fix/add-cursor-not-allowed
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/icon-button/styles.ts
  packages/frontend/components/primitives/link/styles.ts
Labels: frontend

#254 Vb-244: fix modal
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/auth/verification/resend-code/component.tsx
  packages/frontend/components/modals/component.tsx
  packages/frontend/components/verification/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/store.ts
  packages/frontend/store/verify/reducer.ts
Labels: frontend

#253 VB-255: fix/add-tooltips-to-PostTypeModal-buttons
  packages/frontend/components/make-a-post/type-of-post/component.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#250 Fix/profile
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/profile/user-account/personal-info/utils.ts
  packages/frontend/store/profile/index.ts
  packages/frontend/store/profile/reducer.ts
  packages/frontend/validation-schemas/user/sign-up.ts
  packages/frontend/validation-schemas/user/user-update.ts
Labels: frontend

#256 VB-253: fix auth layout
  packages/frontend/components/auth/layout/styles.ts
  packages/frontend/components/auth/styles.ts
  packages/frontend/components/auth/verification/email-verification.tsx
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/auth/verification/styles.ts
  packages/frontend/components/authLayout/styles.ts
  packages/frontend/components/login/component.tsx
  packages/frontend/components/login/styles.ts
Labels: bug, frontend

#257 fix modal button
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
Labels: frontend

#235 VBM-122: add a show/hide password icon
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
Labels: mobile

#260 VBM: codemagic autoincrement versioncode
  codemagic.yaml
  packages/mobile/android/app/build.gradle
Labels: mobile, root

#255 Fix upload image popover; Fix auth layout
  packages/frontend/components/header/profile-info/component.tsx
  packages/frontend/components/header/profile-info/styles.ts
  packages/frontend/components/primitives/popover/component.tsx
  packages/frontend/components/primitives/popover/index.ts
  packages/frontend/components/primitives/popover/styles.ts
  packages/frontend/components/primitives/popover/types.ts
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
Labels: bug, frontend

#262 VB-218: fix lot slider
  packages/frontend/components/home/category-section/styles.ts
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/charity-section/styles.ts
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/home/lot-section/styles.ts
  packages/frontend/components/home/section-layout/styles.ts
  packages/frontend/components/primitives/container/styles.ts
  packages/frontend/components/product/card/styles.ts
Labels: bug, frontend

#261 Try to fix blinking on initial page render
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/index.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/providers/ThemeProvider/index.tsx
  packages/frontend/theme/globalStyles.tsx
Labels: frontend

#263 Fix/show verify modal
  packages/backend/src/helpers/env.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/backend/src/services/verify.ts
  packages/frontend/components/auth/verification/phone-verification.tsx
  packages/frontend/components/auth/verification/resend-code/component.tsx
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/store/profile/reducer.ts
  packages/shared/src/common/types/profile/user-profile-dto.ts
Labels: frontend, backend, shared

#222 VB-94 edit post
  packages/backend/src/services/product.ts
  packages/backend/src/validation/product/schemas.ts
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/components/save-post/component.tsx
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/components/save-post/form.tsx
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/components/save-post/types.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/pages/items/edit/[id].tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/services/post.ts
  packages/frontend/services/product.ts
  packages/frontend/store/product/action-types.ts
  packages/frontend/store/product/actions.ts
  packages/frontend/store/product/reducer.ts
  packages/frontend/validation-schemas/post/create-post.ts
  packages/shared/src/common/types/product/product-dto.ts
Labels: frontend, backend, shared

#266 VB-257: Fix/negative numbers in product card
  packages/frontend/components/product/timer/component.tsx
  packages/frontend/helpers/time.ts
Labels: frontend

#268 VB-83: added select
  packages/frontend/components/primitives/menu-dropdown/styles.ts
  packages/frontend/components/primitives/select/component.tsx
  packages/frontend/components/primitives/select/index.ts
  packages/frontend/components/primitives/select/styles.ts
  packages/frontend/components/primitives/select/types.ts
Labels: frontend

#267 Feature/my list backend
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220903095947_added_product_contacts/migration.sql
  packages/backend/prisma/migrations/20220903100211_changed_country_required/migration.sql
  packages/backend/prisma/migrations/20220903113639_added_post_date_prop/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/controllers/update/product.ts
  packages/backend/prisma/seed/data/product.ts
  packages/backend/prisma/seed/mockData/product.json
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/my-list.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/my-list.ts
  packages/frontend/components/profile/user-account/index.ts
  packages/frontend/components/profile/user-account/my-list/component.tsx
  packages/frontend/components/profile/user-account/my-list/index.tsx
  packages/frontend/services/index.ts
  packages/frontend/services/my-list.ts
  packages/frontend/store/my-list/action-types.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-dto.ts
  packages/shared/src/common/types/product/product-my-list.ts
  packages/shared/tsconfig.json
Labels: frontend, backend, shared

#269 VB-133: add new lang service
  packages/backend/src/api/middlewares/lang.ts
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/error/auth/expired-refresh-token-error.ts
  packages/backend/src/error/auth/unauthorized-error.ts
  packages/backend/src/error/auth/wrong-refresh-token-error.ts
  packages/backend/src/error/product/auction-ended-error.ts
  packages/backend/src/error/product/low-bid-price-error.ts
  packages/backend/src/error/product/product-not-found.ts
  packages/backend/src/error/reset-password/reset-pass-link-invalid.ts
  packages/backend/src/error/s3-storage/file-to-large-error.ts
  packages/backend/src/error/s3-storage/no-file-provided.ts
  packages/backend/src/error/s3-storage/unsupported-file-extension-error.ts
  packages/backend/src/error/user/user-exists-error.ts
  packages/backend/src/error/user/user-not-found-error.ts
  packages/backend/src/error/user/wrong-password-error.ts
  packages/backend/src/error/verify/code-not-found-error.ts
  packages/backend/src/error/verify/wrong-code-error.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/lang/index.ts
  packages/backend/src/lang/lang.ts
  packages/backend/src/lang/locales/en/personal-info.json
  packages/backend/src/lang/locales/en/product.json
  packages/backend/src/lang/locales/en/translation.json
  packages/backend/src/lang/locales/ua/personal-info.json
  packages/backend/src/lang/locales/ua/product.json
  packages/backend/src/lang/locales/ua/translation.json
  packages/backend/src/server.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/category.ts
  packages/backend/src/services/product.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/services/s3-storage.ts
  packages/backend/src/validation/product/createProduct.validation.ts
  packages/backend/src/validation/product/schemas.ts
  packages/backend/src/validation/product/updateProduct.validation.ts
  packages/backend/src/validation/profile/sub-validation/email.ts
  packages/backend/src/validation/profile/sub-validation/password.ts
  packages/backend/src/validation/profile/sub-validation/phone.ts
  packages/backend/src/validation/profile/sub-validation/user-name.ts
  packages/backend/tsconfig.json
  packages/shared/src/common/constants/index.ts
  packages/shared/src/common/constants/lang.ts
Labels: backend, shared

#271 Feature: see all items link
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/common/types/services/ProductService.ts
  packages/backend/src/repositories/product.ts
  packages/frontend/components/filter/component.tsx
  packages/frontend/components/header/component.tsx
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/home/lot-section/types.ts
  packages/frontend/components/home/section-layout/component.tsx
  packages/frontend/components/home/section-layout/types.ts
  packages/frontend/components/item/item-info/seller-info/component.tsx
  packages/frontend/components/item/item-info/seller-info/styles.ts
  packages/frontend/components/primitives/container/styles.ts
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/en/home.json
  packages/frontend/services/product.ts
  packages/frontend/store/product/actions.ts
Labels: frontend, backend

#272 hotfix production backend and category translation issue
  packages/backend/src/api/middlewares/localization.ts
  packages/backend/src/lang/locales/en/categories.json
  packages/backend/src/lang/locales/en/translation.json
  packages/backend/src/lang/locales/ua/categories.json
  packages/backend/src/lang/locales/ua/translation.json
  packages/backend/src/services/category.ts
  packages/shared/tsconfig.json
Labels: backend, shared

#259 VB-234: fix tooltip hiding
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/components/primitives/tooltip/styles.ts
Labels: frontend

#273 fix category translation
  packages/backend/src/services/product.ts
Labels: backend

#276 VB-264: delete rules modal
  packages/frontend/components/make-a-post/consent/component.tsx
  packages/frontend/components/make-a-post/consent/index.ts
  packages/frontend/components/make-a-post/consent/styles.ts
  packages/frontend/pages/items/create.tsx
  packages/frontend/public/locales/en/rules.json
  packages/frontend/public/locales/ua/rules.json
Labels: frontend

#277 VB-262: adjust styles on leave auction btn and modal
  packages/frontend/components/filter/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/components/modal/confirm/styles.ts
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
Labels: frontend

#270 fix delivary data: fixed prop in all packages
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220903180356_delivery_data/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/controllers/update/address.ts
  packages/backend/prisma/seed/data/address.ts
  packages/backend/prisma/seed/mockData/address.json
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/repositories/profile.ts
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/helpers/profile-mapper.ts
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/validation-schemas/user/user-update.ts
  packages/shared/src/common/types/product/product-my-list.ts
  packages/shared/src/common/types/product/product-type-dto.ts
  packages/shared/src/common/types/profile/save-user-profile-dto.ts
  packages/shared/src/common/types/profile/user-profile-dto.ts
  packages/shared/tsconfig.json
Labels: frontend, backend, shared

#279 Fix req.t && fix db scheme
  packages/backend/prisma/migrations/20220904093312_make_product_data_nulable/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/api/middlewares/auth.ts
  packages/backend/src/error/error-handler.ts
Labels: backend

#278 Fix/small fixes
  packages/frontend/components/auth/styles.ts
  packages/frontend/components/auth/verification/styles.ts
  packages/frontend/components/filter/product-grid/component.tsx
  packages/frontend/components/header/burger-menu/profile-dropdown/styles.ts
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/imageCrop/styles.ts
  packages/frontend/components/item/countdown-timer/styles.ts
  packages/frontend/components/item/image-slider-splide/styles.ts
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/components/item/item-info-selling/styles.ts
  packages/frontend/components/item/item-info/item-price/styles.ts
  packages/frontend/components/item/item-info/item-title/styles.ts
  packages/frontend/components/item/item-info/item-title/view-counter/styles.ts
  packages/frontend/components/item/item-info/seller-info/styles.ts
  packages/frontend/components/item/item-info/styles.ts
  packages/frontend/components/item/styles.ts
  packages/frontend/components/modal/confirm/styles.ts
  packages/frontend/components/primitives/breadcrumbs/styles.ts
  packages/frontend/components/primitives/button/styles.ts
  packages/frontend/components/primitives/link/styles.ts
  packages/frontend/components/primitives/link/types.ts
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/card/types.ts
  packages/frontend/components/profile/user-account/personal-info/utils.ts
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/items/[id].tsx
  packages/frontend/pages/test.tsx
  packages/frontend/theme/theme.ts
Labels: frontend

#280 VB-246: tooltip arrow
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/components/primitives/tooltip/styles.ts
Labels: frontend

#285 Fix/add loader place bid btn
  packages/frontend/components/filter/product-grid/styles.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/toasts/styles.ts
  packages/frontend/public/locales/en/common.json
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/product/reducer.ts
Labels: frontend

#283 VB-267: fix change photo popover
  packages/frontend/components/profile/user-account/personal-info/change-avatar.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
Labels: bug, frontend

#286 VB-270: add rules page route
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/footer/content-wrapper/content-wrapper.tsx
Labels: frontend

#284 Fix/unneccesary fetch without auth
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info-selling/styles.ts
  packages/frontend/components/item/item-info/seller-info/component.tsx
  packages/frontend/components/item/item-info/seller-info/styles.ts
  packages/frontend/components/primitives/icon-button/component.tsx
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/product/favorite-button/component.tsx
  packages/frontend/components/product/favorite-button/types.ts
  packages/frontend/hooks/time.ts
  packages/frontend/pages/items/[id].tsx
Labels: frontend

#288 VB-204: add swagger documentation to endpoints
  packages/backend/prisma/ERD.svg
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/api/routes/bid.ts
  packages/backend/src/api/routes/category.ts
  packages/backend/src/api/routes/news.ts
  packages/backend/src/api/routes/product.ts
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/api/routes/verify.ts
  packages/backend/src/docs/body/auth/refresh-token.ts
  packages/backend/src/docs/body/auth/reset-password-link.ts
  packages/backend/src/docs/body/auth/sign-up.ts
  packages/backend/src/docs/body/auth/update-password.ts
  packages/backend/src/docs/body/product/create-product.ts
  packages/backend/src/docs/body/profile/update-profile.ts
  packages/backend/src/docs/body/verify/verify-email.ts
  packages/backend/src/docs/body/verify/verify-phone.ts
  packages/backend/src/docs/entity/address.ts
  packages/backend/src/docs/entity/product.ts
  packages/backend/src/docs/entity/refresh-token.ts
  packages/backend/src/docs/entity/social-media.ts
  packages/backend/src/docs/response/400-response.ts
  packages/backend/src/docs/response/auth/refresh-token.ts
  packages/backend/src/docs/response/auth/sign-up.ts
  packages/backend/src/docs/response/category/get-categories.ts
  packages/backend/src/docs/response/news/get-news.ts
  packages/backend/src/docs/response/product/add-product-to-favorites.ts
  packages/backend/src/docs/response/product/auction-permissions.ts
  packages/backend/src/docs/response/product/delete-product-to-favorites.ts
  packages/backend/src/docs/response/product/favorite.ts
  packages/backend/src/docs/response/product/get-all.ts
  packages/backend/src/docs/response/product/get-by-id.ts
  packages/backend/src/docs/response/product/get-favorite-ids.ts
  packages/backend/src/docs/response/product/leave-auction.ts
  packages/backend/src/docs/response/profile/get-full-user-data.ts
  packages/backend/src/docs/response/profile/get-profile.ts
  packages/backend/src/docs/response/profile/save.ts
  packages/backend/src/mapper/index.ts
  packages/backend/src/mapper/response.ts
  packages/backend/src/mapper/user.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/services/verify.ts
Labels: backend

#287 VB-93: replace flag image from sign in\up pages w/ css gradient
  packages/frontend/components/authLayout/component.tsx
  packages/frontend/components/authLayout/styles.ts
  packages/frontend/components/home/promo-section/styles.ts
  packages/frontend/components/profile/user-account/personal-info/component.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/shared/src/common/enums/theme/color-palette.ts
Labels: frontend, shared

#290 VB-275: user phone shows on modal
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/verification/component.tsx
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
  packages/frontend/components/verification/success-verification/component.tsx
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/modals/action-types.ts
  packages/frontend/store/modals/actions.ts
  packages/frontend/store/modals/reducer.ts
  packages/frontend/store/store.ts
Labels: frontend

#291 Add sending locale to backend; fix login localization
  packages/backend/src/api/middlewares/lang.ts
  packages/backend/src/error/user/wrong-password-error.ts
  packages/backend/src/lang/lang.ts
  packages/frontend/components/login/component.tsx
  packages/frontend/components/login/styles.ts
  packages/frontend/helpers/index.tsx
  packages/frontend/helpers/locale.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/pages/items/edit/[id].tsx
  packages/frontend/pages/profile/[id]/index.tsx
  packages/shared/src/common/enums/http/http-header.ts
  packages/shared/src/common/enums/storage/storage-key.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/locale/index.ts
  packages/shared/src/common/types/locale/locale-helper.ts
  packages/shared/src/helpers/https.ts
Labels: bug, frontend, backend, shared

#292 VB-256: fix scroll dropdown
  packages/frontend/components/primitives/menu-dropdown/component.tsx
Labels: frontend

#289 Small fixes
  packages/frontend/components/header/burger-menu/component.tsx
  packages/frontend/components/header/component.tsx
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/home/lot-section/types.ts
  packages/frontend/components/home/promo-section/component.tsx
  packages/frontend/components/home/promo-section/styles.ts
  packages/frontend/components/home/section-layout/component.tsx
  packages/frontend/components/make-a-post/type-of-post/component.tsx
  packages/frontend/components/primitives/icon-button/component.tsx
  packages/frontend/components/primitives/icon-button/types.ts
  packages/frontend/components/primitives/link/internal.tsx
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/card/types.ts
  packages/frontend/components/product/favorite-button/component.tsx
  packages/frontend/components/product/image-slider/component.tsx
  packages/frontend/components/product/image-slider/controls.tsx
  packages/frontend/components/product/image-slider/types.ts
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
  packages/frontend/pages/_document.tsx
  packages/frontend/public/images/favicon/site.webmanifest
  packages/frontend/public/images/icons/flag-ukraine.svg
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#295 disable scrolling when modal open
  packages/frontend/components/primitives/modal/component.tsx
Labels: frontend

#297 fix locale frontend
  packages/frontend/helpers/index.tsx
  packages/frontend/helpers/locale.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/pages/items/edit/[id].tsx
  packages/frontend/pages/profile/[id]/index.tsx
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/locale/index.ts
  packages/shared/src/common/types/locale/locale-helper.ts
  packages/shared/src/helpers/https.ts
Labels: frontend, shared

#296 Fix/validation
  packages/backend/locales/en/personal-info.json
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/personal-info.json
  packages/backend/locales/ua/translation.json
  packages/backend/src/api/routes/auth.ts
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/common/types/user/create-user.ts
  packages/backend/src/error/user/index.ts
  packages/backend/src/error/user/user-exists-error.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/services/verify.ts
  packages/backend/src/validation/auth/index.ts
  packages/backend/src/validation/auth/sign-up.validation.ts
  packages/backend/src/validation/profile/profile-validation.ts
  packages/backend/src/validation/sub-validation/address.ts
  packages/backend/src/validation/sub-validation/email.ts
  packages/backend/src/validation/sub-validation/index.ts
  packages/backend/src/validation/sub-validation/password.ts
  packages/backend/src/validation/sub-validation/phone.ts
  packages/backend/src/validation/sub-validation/signup-password.ts
  packages/backend/src/validation/sub-validation/user-name.ts
  packages/backend/tsconfig.json
  packages/frontend/components/auth/sign-up/component.tsx
  packages/frontend/components/profile/user-account-layout/styles.ts
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/components/profile/user-account/personal-info/utils.ts
  packages/frontend/helpers/profile-mapper.ts
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/frontend/validation-schemas/user/sign-up.ts
  packages/frontend/validation-schemas/user/user-update.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/enums/regexp-patterns/index.ts
  packages/shared/src/common/enums/regexp-patterns/regexp-patterns.ts
  packages/shared/src/common/enums/validation/personal-info.ts
  packages/shared/src/common/enums/validation/validation-ranges.ts
  packages/shared/src/common/types/profile/update-profile-dto.ts
  packages/shared/src/common/types/user/user-sign-up-dto.ts
Labels: frontend, backend, shared

#294 VBM-130: screen scale position fixed
  packages/mobile/src/screens/welcome/components/stamp/stamp.tsx
  packages/mobile/src/screens/welcome/components/stamp/style.ts
  packages/mobile/src/screens/welcome/styles.ts
  packages/mobile/src/screens/welcome/welcome.tsx
Labels: mobile

#236 VBM-123: Change the title of "#Nova poshta" field to "Delivery data"
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
Labels: mobile

#275 VBM-128: add localization to avatar menu
  packages/mobile/src/components/photo-picker-modal/photo-picker-modal.tsx
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/ua/common.ts
Labels: mobile

#306 VB-295: fix/change-heading
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
Labels: frontend

#304 VB-299: prevent user's input on Page loading
  packages/frontend/components/pages-loader/index.tsx
Labels: frontend

#305 Fix/phone verification status
  packages/backend/locales/en/personal-info.json
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/personal-info.json
  packages/backend/locales/ua/translation.json
  packages/backend/prisma/ERD.svg
  packages/backend/src/api/middlewares/auth.ts
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/error/user/index.ts
  packages/backend/src/error/user/user-exists-error.ts
  packages/backend/src/lang/locales/en/personal-info.json
  packages/backend/src/lang/locales/ua/personal-info.json
  packages/backend/src/repositories/profile.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/validation/sub-validation/user-name.ts
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
  packages/frontend/helpers/profile-mapper.ts
  packages/frontend/validation-schemas/user/user-update.ts
  packages/shared/src/common/enums/validation/personal-info.ts
  packages/shared/src/common/types/product/product-my-list.ts
  packages/shared/src/common/types/profile/user-profile-dto.ts
Labels: frontend, backend, shared

#308 fix backend json response
  packages/backend/src/helpers/request.ts
Labels: backend

#281 VBM-126: add image size check
  packages/mobile/src/common/constants/images.ts
  packages/mobile/src/helpers/image/pick-image/pick-image.helper.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
Labels: mobile

#307 VB-203: added protected routes
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/translation.json
  packages/backend/src/api/routes/product.ts
  packages/backend/src/error/user/not-verified.ts
  packages/backend/src/services/product.ts
  packages/backend/src/services/verify.ts
  packages/frontend/components/save-post/component.tsx
  packages/frontend/components/verification/not-verificated-warning/component.tsx
  packages/frontend/components/verification/not-verificated-warning/styles.ts
  packages/frontend/pages/items/create-auction.tsx
  packages/frontend/pages/items/create-product.tsx
  packages/frontend/pages/items/edit/[id].tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/services/auth.ts
  packages/frontend/services/product.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/selectors.ts
  packages/frontend/store/product/actions.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/user/user-dto.ts
Labels: frontend, backend, shared

#282 VBM-127: add image type check
  packages/mobile/src/common/constants/images.ts
  packages/mobile/src/helpers/image/pick-image/pick-image.helper.ts
  packages/mobile/src/screens/personal-info/components/profile-image/profile-image.tsx
Labels: mobile

#311 VB-301: Feature/category badge
  packages/frontend/components/primitives/category-badge/component.tsx
  packages/frontend/components/primitives/category-badge/index.ts
  packages/frontend/components/primitives/category-badge/styles.ts
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: frontend

#312 Remove redundant locales dir
  packages/backend/locales/en/personal-info.json
  packages/backend/locales/en/product.json
  packages/backend/locales/en/translation.json
  packages/backend/locales/ua/personal-info.json
  packages/backend/locales/ua/product.json
  packages/backend/locales/ua/translation.json
Labels: backend

#313 fixed localization
  packages/backend/src/lang/locales/en/translation.json
  packages/backend/src/lang/locales/ua/translation.json
Labels: backend

#299 VB-245: Feature/create product routes
  packages/backend/src/api/routes/product.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/pages/index.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/services/product.ts
  packages/frontend/store/product/actions.ts
  packages/shared/src/common/enums/api/routes.ts
Labels: frontend, backend, shared

#302 VB-282: add sockets for placing bids
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/api/middlewares/lang.ts
  packages/backend/src/config/index.ts
  packages/backend/src/config/socket.ts
  packages/backend/src/events/index.ts
  packages/backend/src/events/listener.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/server.ts
  packages/backend/src/services/bid.ts
  packages/frontend/.env.example
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/helpers/index.tsx
  packages/frontend/helpers/socket.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
  packages/frontend/store/product/action-types.ts
  packages/frontend/store/product/actions.ts
  packages/frontend/store/product/reducer.ts
  packages/frontend/store/toast/actions.ts
  packages/shared/src/common/enums/events/index.ts
  packages/shared/src/common/enums/events/product.ts
  packages/shared/src/common/enums/index.ts
  packages/shared/src/common/types/event/index.ts
  packages/shared/src/common/types/event/update-product-price.ts
  packages/shared/src/common/types/index.ts
Labels: frontend, backend, shared

#310 Feature/item page data
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220906154705_add_condition_field/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/prisma/seed/data/product.ts
  packages/backend/src/helpers/index.ts
  packages/backend/src/helpers/product.ts
  packages/backend/src/lang/locales/en/product.json
  packages/backend/src/lang/locales/ua/product.json
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/backend/src/validation/product/schemas.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-auction/styles.ts
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info-selling/styles.ts
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/components/save-post/auction-form.tsx
  packages/frontend/components/save-post/description.tsx
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/components/save-post/product-form.tsx
  packages/frontend/components/save-post/types.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
  packages/frontend/public/locales/ua/item.json
  packages/frontend/validation-schemas/post/create-auction.ts
  packages/frontend/validation-schemas/post/create-post.ts
  packages/shared/src/common/types/post/forms.ts
  packages/shared/src/common/types/product/product-dto.ts
Labels: bug, frontend, backend, shared

#315 VB-304: checked localization errors
  packages/backend/src/services/verify.ts
Labels: backend

#314 VB-305: fix product card; add buy button and delete timer for type SE…
  packages/frontend/components/filter/product-grid/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/card/types.ts
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/ua/common.json
Labels: bug, frontend

#167 VBM-109: Countdown component created
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/time.ts
  packages/mobile/src/common/enums/date-time-format/date-time-format.ts
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/countdown/common/enums/enums.ts
  packages/mobile/src/components/countdown/common/enums/segment-position.ts
  packages/mobile/src/components/countdown/components/components.ts
  packages/mobile/src/components/countdown/components/countdown-segment/countdown-segment.tsx
  packages/mobile/src/components/countdown/components/countdown-segment/styles.ts
  packages/mobile/src/components/countdown/countdown.tsx
  packages/mobile/src/components/countdown/styles.ts
  packages/mobile/src/helpers/date/date.ts
  packages/mobile/src/helpers/date/get-strict-time-to-event/get-strict-time-to-event.ts
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/hooks/use-countdown-interval/use-countdown-interval.ts
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/ua/common.ts
Labels: mobile

#316 change node's events to eventemitter3
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/events/listener.ts
Labels: backend

#301 VB-279: change current price after leaving
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220906185112_add_deleted_at_to_bid/migration.sql
  packages/backend/prisma/migrations/20220906195447_change_bid/migration.sql
  packages/backend/prisma/migrations/20220906200003_/migration.sql
  packages/backend/prisma/migrations/20220906201117_fix_bid/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/lang/locales/en/categories.json
  packages/backend/src/lang/locales/en/translation.json
  packages/backend/src/lang/locales/ua/categories.json
  packages/backend/src/lang/locales/ua/translation.json
  packages/backend/src/repositories/bid.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/public/locales/en/home.json
  packages/shared/tsconfig.json
Labels: frontend, backend, shared

#264 VBM-90: ukrainian localization dayjs
  packages/mobile/src/services/app/app.service.ts
Labels: mobile

#245 VBM-111: Forgot password feature
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/enums/navigation/root-screen-name.enum.ts
  packages/mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  packages/mobile/src/components/button-text/button-text.tsx
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/navigation/welcome/welcome.navigation.tsx
  packages/mobile/src/screens/auth/auth.tsx
  packages/mobile/src/screens/auth/components/components.ts
  packages/mobile/src/screens/auth/components/reset-password-header/reset-password-header.tsx
  packages/mobile/src/screens/auth/components/reset-password/common/constants.ts
  packages/mobile/src/screens/auth/components/reset-password/reset-password.tsx
  packages/mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  packages/mobile/src/screens/auth/components/sign-in-up-header/sign-in-up-header.tsx
  packages/mobile/src/services/auth-api/auth-api.service.ts
  packages/mobile/src/store/auth/actions.ts
  packages/mobile/src/store/auth/common.ts
  packages/mobile/src/store/auth/reducer.ts
  packages/mobile/src/validation-schemas/user/reset-password.ts
  packages/mobile/src/validation-schemas/user/user.ts
  packages/mobile/src/validation-schemas/validation-schemas.ts
Labels: mobile

#298 VB-280: add payment service
  packages/backend/.env.example
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/migrations/20220905163559_add_order_table/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/api/routes/index.ts
  packages/backend/src/api/routes/order.ts
  packages/backend/src/common/enums/services/payment/index.ts
  packages/backend/src/common/types/index.ts
  packages/backend/src/common/types/order/index.ts
  packages/backend/src/common/types/order/order-query.ts
  packages/backend/src/helpers/env.ts
  packages/backend/src/repositories/index.ts
  packages/backend/src/repositories/order.ts
  packages/backend/src/server.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/order.ts
  packages/backend/src/services/payment.ts
  packages/frontend/common/enums/routes.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/item/component.tsx
  packages/frontend/components/order/component.tsx
  packages/frontend/components/order/index.ts
  packages/frontend/pages/orders/checkout.tsx
  packages/frontend/pages/orders/success.tsx
  packages/frontend/services/order.ts
  packages/frontend/services/payment.ts
  packages/frontend/store/checkout/action-types.ts
  packages/frontend/store/checkout/actions.ts
  packages/frontend/store/checkout/index.ts
  packages/frontend/store/checkout/reducers.ts
  packages/frontend/store/store.ts
  packages/shared/src/common/enums/api/routes.ts
  packages/shared/src/common/types/index.ts
  packages/shared/src/common/types/order/index.ts
  packages/shared/src/common/types/order/order-dto.ts
  packages/shared/src/common/types/payment/index.ts
Labels: frontend, backend, shared

#320 VBM: Fix/delete duplicate button-text entry
  packages/mobile/src/components/components.ts
Labels: mobile

#319 VB-315: Fix/show products in popular products
  packages/frontend/components/save-post/types.ts
  packages/frontend/pages/index.tsx
Labels: frontend

#327 VB-275: fix fill the phone
  packages/frontend/components/verification/component.tsx
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
Labels: frontend

#309 VB-290: fix lot section - small description text
  packages/frontend/components/product/card/component.tsx
  packages/frontend/components/product/card/styles.ts
Labels: bug, frontend

#332 FE optimization
  packages/frontend/components/header/component.tsx
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/image-slider-splide/component.tsx
  packages/frontend/components/item/image-slider/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info/seller-info/component.tsx
  packages/frontend/components/item/styles.ts
  packages/frontend/components/primitives/modal/component.tsx
  packages/frontend/components/primitives/popover/component.tsx
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
  packages/frontend/pages/_document.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/providers/ThemeProvider/index.tsx
  packages/frontend/public/images/favicon/site.webmanifest
  packages/frontend/public/images/flagBg.png
  packages/frontend/public/images/noavatar.svg
  packages/frontend/theme/globalStyles.tsx
Labels: frontend

#324 VBM-102: input ui fixed
  packages/mobile/src/config/navigation-theme.config.ts
Labels: bug, mobile

#323 VBM-136: error display fixed
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/services/http/http.service.ts
Labels: bug, mobile

#180 VBM-113: add item screen layout
  packages/mobile/src/assets/images/lots/puff.png
  packages/mobile/src/common/constants/time.ts
  packages/mobile/src/common/enums/date/date-format.ts
  packages/mobile/src/common/enums/enums.ts
  packages/mobile/src/common/enums/navigation/root-screen-name.enum.ts
  packages/mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  packages/mobile/src/components/components.ts
  packages/mobile/src/components/header-button/header-button.tsx
  packages/mobile/src/components/svg/dot/dot.tsx
  packages/mobile/src/components/svg/plus/plus.tsx
  packages/mobile/src/components/svg/svg.ts
  packages/mobile/src/components/text/text.tsx
  packages/mobile/src/helpers/date/date.ts
  packages/mobile/src/helpers/date/format-date/format-date.helper.ts
  packages/mobile/src/helpers/date/get-timezone-offset/get-timezone-offset.ts
  packages/mobile/src/helpers/helpers.ts
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/common.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/mock/mock-seller-info.ts
  packages/mobile/src/navigation/navigation.tsx
  packages/mobile/src/screens/home/components/product/product.tsx
  packages/mobile/src/screens/product-info/common/constants.ts
  packages/mobile/src/screens/product-info/components/components.ts
  packages/mobile/src/screens/product-info/components/description/description.tsx
  packages/mobile/src/screens/product-info/components/description/render-description-info.tsx
  packages/mobile/src/screens/product-info/components/description/styles.ts
  packages/mobile/src/screens/product-info/components/image-carousel/image-carousel.tsx
  packages/mobile/src/screens/product-info/components/image-carousel/styles.ts
  packages/mobile/src/screens/product-info/components/price-block/lot-price-block.tsx
  packages/mobile/src/screens/product-info/components/price-block/price-wrapper.tsx
  packages/mobile/src/screens/product-info/components/price-block/product-price-block.tsx
  packages/mobile/src/screens/product-info/components/price-block/styles.ts
  packages/mobile/src/screens/product-info/components/seller-info/seller-info.tsx
  packages/mobile/src/screens/product-info/product-info.tsx
  packages/mobile/src/screens/screens.ts
  packages/mobile/src/services/product/product.service.ts
  packages/mobile/src/store/actions.ts
  packages/mobile/src/store/product/actions.ts
  packages/mobile/src/store/product/common.ts
  packages/mobile/src/store/product/reducer.ts
  packages/mobile/src/store/product/selectors.ts
  packages/mobile/src/store/root-reducer.ts
  packages/mobile/src/validation-schemas/bid/make-bid.ts
Labels: mobile

#334 VBM: fix type checking issue
  packages/mobile/src/screens/product-info/product-info.tsx
Labels: mobile

#333 fix BE build
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/prisma/ERD.svg
  packages/backend/src/common/types/index.ts
Labels: backend

#338 VBM-143: tabBar localization added
  packages/mobile/src/localization/languages/en/common.ts
  packages/mobile/src/localization/languages/ua/common.ts
  packages/mobile/src/navigation/tabs/tabs.navigation.tsx
Labels: mobile

#322 Feature/item slider
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/image-modal/component.tsx
  packages/frontend/components/item/image-modal/styles.ts
  packages/frontend/components/item/image-slider-splide/component.tsx
  packages/frontend/components/item/image-slider-splide/styles.ts
  packages/frontend/components/item/image-slider/component.tsx
  packages/frontend/components/item/image-slider/image-slider-large/component.tsx
  packages/frontend/components/item/image-slider/image-slider-large/styles.ts
  packages/frontend/components/item/image-slider/image-slider-small/component.tsx
  packages/frontend/components/item/image-slider/image-slider-small/styles.ts
  packages/frontend/components/item/image-slider/styles.ts
  packages/frontend/components/primitives/modal/styles.ts
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
  packages/frontend/validation-schemas/post/create-auction.ts
  packages/shared/src/common/types/post/forms.ts
Labels: frontend, shared

#341 fix types in shared
  packages/mobile/src/screens/new-item/components/new-auction-form/new-auction-form.tsx
  packages/shared/src/common/types/post/forms.ts
Labels: mobile, shared

#300 VBM-129: added drawer menu
  packages/mobile/babel.config.js
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/enums/navigation/root-screen-name.enum.ts
  packages/mobile/src/common/types/navigation/root-navigation-param-list.type.ts
  packages/mobile/src/index.tsx
  packages/mobile/src/navigation/drawer/drawer.navigation.tsx
  packages/mobile/src/navigation/navigation.tsx
Labels: mobile

#156 VBM: redirect after login
  packages/mobile/src/common/types/navigation/main-navigation-param-list.ts
  packages/mobile/src/common/types/navigation/navigation-props.ts
  packages/mobile/src/common/types/navigation/navigation.ts
  packages/mobile/src/common/types/types.ts
  packages/mobile/src/navigation/tabs/tabs.navigation.tsx
  packages/mobile/src/screens/auth/auth.tsx
Labels: mobile

#318 VBM-139: sign-in errors localization
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/validation-schemas/user/sign-in.ts
Labels: mobile

#342 VBM-147: fix product info header localization
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/navigation/navigation.tsx
Labels: mobile

#337 VBM-140: incorrect time format and gray background fixed
  packages/frontend/components/product/card/types.ts
  packages/frontend/components/product/timer/types.ts
  packages/frontend/helpers/time.ts
  packages/mobile/src/helpers/date/format-date/format-date.helper.ts
  packages/mobile/src/helpers/date/get-strict-time-to-event/get-strict-time-to-event.ts
  packages/mobile/src/helpers/date/get-time-to-event/get-time-to-event.helper.ts
  packages/mobile/src/helpers/date/get-timezone-offset/get-timezone-offset.ts
  packages/mobile/src/helpers/dto-name-modifiers/format-price/format-price.ts
  packages/mobile/src/hooks/use-countdown-interval/use-countdown-interval.ts
  packages/mobile/src/screens/home/components/product/product.tsx
  packages/mobile/src/screens/home/components/product/styles.ts
  packages/shared/src/common/enums/product/index.ts
  packages/shared/src/common/enums/product/product-status.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-dto.ts
  packages/shared/src/common/types/product/product-my-list.ts
  packages/shared/src/common/types/product/product-status-dto.ts
  packages/shared/src/common/types/product/product-type-dto.ts
Labels: frontend, mobile, shared

#340 VBM-148: number confirmation fixed
  packages/mobile/src/components/input/input.tsx
  packages/mobile/src/screens/auth/auth.tsx
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
  packages/mobile/src/screens/verify-phone-screens/verify-phone/verify-phone.tsx
Labels: bug, mobile

#335 VB-302: Feature/button group
  packages/frontend/components/primitives/button-group/component.tsx
  packages/frontend/components/primitives/button-group/index.ts
  packages/frontend/components/primitives/button-group/styles.ts
  packages/frontend/components/primitives/button-group/types.ts
Labels: frontend

#326 VBM-144: home screen styles corrections
  packages/mobile/src/mock/mock-organizations-img.ts
  packages/mobile/src/screens/home/components/organization/organization.tsx
  packages/mobile/src/screens/home/home.tsx
  packages/mobile/src/screens/home/styles.ts
Labels: mobile

#345 VB-321: Fix/personal info headers styles
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/components/profile/user-account/personal-info/styles.ts
Labels: frontend

#347 Improve payment pages and fixes
  packages/backend/.env.example
  packages/backend/package-lock.json
  packages/backend/src/api/routes/order.ts
  packages/backend/src/email/mail-builder.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/payment.ts
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/components/item/item-info/seller-info/component.tsx
  packages/frontend/components/login/component.tsx
  packages/frontend/components/order/component.tsx
  packages/frontend/components/order/styles.ts
  packages/frontend/components/order/success/component.tsx
  packages/frontend/components/order/success/index.ts
  packages/frontend/components/order/success/styles.ts
  packages/frontend/components/primitives/input/password-input.tsx
  packages/frontend/pages/orders/checkout.tsx
  packages/frontend/pages/orders/success.tsx
  packages/frontend/public/css/fontawesome.css
  packages/frontend/public/locales/en/checkout.json
  packages/frontend/public/locales/en/index.ts
  packages/frontend/public/locales/ua/checkout.json
  packages/frontend/public/locales/ua/index.ts
  packages/frontend/store/auth/action-types.ts
  packages/frontend/store/auth/actions.ts
  packages/frontend/store/auth/reducers.ts
  packages/frontend/store/checkout/actions.ts
  packages/frontend/store/checkout/reducers.ts
Labels: frontend, backend

#339 VB-316: fix localization on prod
  packages/backend/prisma/ERD.svg
  packages/frontend/common/enums/routes.ts
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/pages/items/[id].tsx
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
Labels: frontend, backend

#344 VBM-149: [Make a Post] drop-down list of categories
  packages/mobile/src/helpers/category/format-category-for-dropdown.ts
  packages/mobile/src/helpers/helpers.ts
  packages/mobile/src/screens/new-item/components/new-auction-form/new-auction-form.tsx
  packages/mobile/src/screens/new-item/components/new-item-form/new-item-form.tsx
Labels: mobile

#346 VB-325: fix category property
  packages/backend/src/helpers/index.ts
  packages/backend/src/helpers/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/components/save-post/auction-form.tsx
  packages/frontend/components/save-post/description.tsx
  packages/frontend/components/save-post/form-utils.ts
  packages/frontend/components/save-post/product-form.tsx
  packages/frontend/components/save-post/types.ts
  packages/frontend/helpers/translate-condition.ts
  packages/frontend/pages/items/create-auction.tsx
  packages/frontend/pages/items/create-product.tsx
  packages/frontend/pages/items/edit/[id].tsx
  packages/frontend/public/locales/en/item.json
  packages/frontend/public/locales/ua/item.json
  packages/shared/src/common/types/product/product-dto.ts
Labels: frontend, backend, shared

#191 VBM-75: Feature/personal info with backend
  packages/backend/prisma/ERD.svg
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/validation.ts
  packages/mobile/src/helpers/helpers.ts
  packages/mobile/src/helpers/personal-info-parse/personal-info-parse.ts
  packages/mobile/src/hooks/hooks.ts
  packages/mobile/src/hooks/use-app-form/use-app-form.hook.ts
  packages/mobile/src/localization/languages/en/screens.ts
  packages/mobile/src/localization/languages/ua/screens.ts
  packages/mobile/src/mock/mock-personal-info.ts
  packages/mobile/src/mock/mock.ts
  packages/mobile/src/screens/personal-info/components/components.ts
  packages/mobile/src/screens/personal-info/components/personal-info-form/personal-info-form.tsx
  packages/mobile/src/screens/personal-info/components/verify-field/verify-field.tsx
  packages/mobile/src/screens/personal-info/personal-info.tsx
  packages/mobile/src/services/personal-info-api/personal-info-api.service.ts
  packages/mobile/src/services/services.ts
  packages/mobile/src/store/actions.ts
  packages/mobile/src/store/auth/selectors.ts
  packages/mobile/src/store/personal-info/actions.ts
  packages/mobile/src/store/personal-info/common.ts
  packages/mobile/src/store/personal-info/reducer.ts
  packages/mobile/src/store/personal-info/selectors.ts
  packages/mobile/src/store/root-reducer.ts
  packages/mobile/src/store/selectors.ts
  packages/mobile/src/store/store.ts
  packages/mobile/src/validation-schemas/personal-info/personal-info.ts
  packages/mobile/src/validation-schemas/validation-schemas.ts
Labels: backend, mobile

#336 create slider
  packages/backend/prisma/ERD.svg
  packages/frontend/components/primitives/index.ts
  packages/frontend/components/primitives/range/component.tsx
  packages/frontend/components/primitives/range/index.ts
  packages/frontend/components/primitives/range/styles.ts
  packages/frontend/components/primitives/range/types.ts
  packages/frontend/package-lock.json
  packages/frontend/package.json
Labels: frontend, backend

#353 Fix/reset password
  packages/backend/src/services/auth.ts
  packages/frontend/components/auth/reset-password/component.tsx
  packages/frontend/pages/forgot-password/index.tsx
  packages/frontend/pages/reset-password/index.tsx
  packages/frontend/public/locales/en/auth.json
  packages/frontend/public/locales/ua/auth.json
Labels: frontend, backend

#331 VB-309: add functionality for checking ended auctions and sending not…
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/prisma/migrations/20220907185616_add_participants_notified_to_product_table/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/commands/auction-notifications.ts
  packages/backend/src/commands/base-command.ts
  packages/backend/src/commands/command-interface.ts
  packages/backend/src/commands/index.ts
  packages/backend/src/email/product-not-sold-builder.ts
  packages/backend/src/email/product-sold-author-builder.ts
  packages/backend/src/email/product-sold-winner-builder.ts
  packages/backend/src/helpers/index.ts
  packages/backend/src/helpers/product.ts
  packages/backend/src/helpers/url.ts
  packages/backend/src/lang/locales/en/email.json
  packages/backend/src/lang/locales/ua/email.json
  packages/backend/src/repositories/bid.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/scheduler/auction.ts
  packages/backend/src/scheduler/index.ts
  packages/backend/src/server.ts
  packages/backend/src/services/index.ts
  packages/backend/src/services/product.ts
  packages/backend/tsconfig.json
Labels: backend

#357 VB-313: fix order of buttons
  packages/backend/prisma/ERD.svg
  packages/frontend/components/item/item-info-auction/component.tsx
Labels: frontend, backend

#358 Migrate to nextjs 12.3
  packages/frontend/components/authLayout/component.tsx
  packages/frontend/components/authLayout/styles.ts
  packages/frontend/components/footer/logo/logo.tsx
  packages/frontend/components/home/category-section/component.tsx
  packages/frontend/components/home/category-section/styles.ts
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/item/image-slider/image-slider-large/component.tsx
  packages/frontend/components/item/image-slider/image-slider-large/styles.ts
  packages/frontend/components/item/image-slider/image-slider-small/component.tsx
  packages/frontend/components/item/image-slider/image-slider-small/styles.ts
  packages/frontend/components/make-a-post/type-of-post/component.tsx
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/logo/component.tsx
  packages/frontend/components/product/image-slider/component.tsx
  packages/frontend/components/product/image-slider/styles.ts
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/components/save-post/styles.ts
  packages/frontend/components/verification/enter-code/component.tsx
  packages/frontend/components/verification/enter-phone/component.tsx
  packages/frontend/components/verification/success-verification/component.tsx
  packages/frontend/next.config.mjs
  packages/frontend/package-lock.json
  packages/frontend/package.json
Labels: frontend

#350 Fix/phone net
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/schema.prisma
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/lang/locales/en/personal-info.json
  packages/backend/src/lang/locales/ua/personal-info.json
  packages/backend/src/repositories/profile.ts
  packages/backend/src/validation/profile/profile-validation.ts
  packages/backend/src/validation/sub-validation/index.ts
  packages/backend/src/validation/sub-validation/social-media.ts
  packages/frontend/components/profile/user-account/personal-info/edit-form.tsx
  packages/frontend/helpers/profile-mapper.ts
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/shared/src/common/enums/validation/personal-info.ts
Labels: frontend, backend, shared

#364 Fix/hide phone number
  packages/backend/src/lang/locales/en/personal-info.json
  packages/backend/src/lang/locales/ua/personal-info.json
  packages/backend/src/validation/sub-validation/address.ts
  packages/frontend/components/save-post/contact.tsx
  packages/frontend/public/locales/en/personal-info.json
  packages/frontend/public/locales/ua/personal-info.json
  packages/shared/src/common/enums/validation/personal-info.ts
Labels: frontend, backend, shared

#365 Fix tooltip
  packages/frontend/components/primitives/icon-button/styles.ts
  packages/frontend/components/primitives/string-cutter/component.tsx
  packages/frontend/components/primitives/tooltip/component.tsx
  packages/frontend/components/primitives/tooltip/styles.ts
  packages/frontend/components/primitives/tooltip/types.ts
  packages/frontend/pages/_document.tsx
  packages/frontend/theme/theme.ts
Labels: frontend

#356 VBM-151: charity blurry pictures replaced
  packages/mobile/src/assets/images/organizations/come-back-alive.png
  packages/mobile/src/assets/images/organizations/help-children.png
Labels: mobile

#363 Fix email case sensitivity, email verified filed on change email, remove hardcoded sender email and name
  packages/backend/prisma/ERD.svg
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/common/enums/services/email/index.ts
  packages/backend/src/common/enums/services/index.ts
  packages/backend/src/repositories/profile.ts
  packages/backend/src/repositories/user.ts
  packages/backend/src/services/auth.ts
  packages/backend/src/services/profile.ts
  packages/backend/src/services/verify.ts
Labels: backend

#367 Add tooltips for recomended price and minimum bid on auction page
  packages/frontend/components/save-post/auction-form.tsx
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
Labels: bug, frontend

#361 Fix/categories
  packages/backend/src/api/routes/category.ts
  packages/backend/src/docs/entity/category.ts
  packages/backend/src/repositories/category.ts
  packages/backend/src/services/category.ts
  packages/frontend/components/header/component.tsx
  packages/frontend/components/primitives/avatar/component.tsx
  packages/frontend/components/primitives/avatar/styles.ts
  packages/frontend/pages/index.tsx
  packages/frontend/services/category.ts
  packages/frontend/store/category/reducer.ts
  packages/shared/src/common/types/category/category-dto.ts
Labels: frontend, backend, shared

#349 Feature/my list card
  packages/backend/prisma/ERD.svg
  packages/backend/prisma/seed/mockData/product.json
  packages/backend/prisma/seed/mockData/social_media.json
  packages/backend/src/api/routes/profile.ts
  packages/backend/src/repositories/my-list.ts
  packages/backend/src/services/my-list.ts
  packages/frontend/common/types/store/store.ts
  packages/frontend/components/profile/user-account-layout/account-links-data.ts
  packages/frontend/components/profile/user-account-layout/component.tsx
  packages/frontend/components/profile/user-account/my-list/cards/cancelled.tsx
  packages/frontend/components/profile/user-account/my-list/cards/drafted.tsx
  packages/frontend/components/profile/user-account/my-list/cards/index.ts
  packages/frontend/components/profile/user-account/my-list/cards/posted.tsx
  packages/frontend/components/profile/user-account/my-list/cards/purchased.tsx
  packages/frontend/components/profile/user-account/my-list/cards/sold.tsx
  packages/frontend/components/profile/user-account/my-list/cards/styles.ts
  packages/frontend/components/profile/user-account/my-list/cards/types.ts
  packages/frontend/components/profile/user-account/my-list/component.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/date.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/index.ts
  packages/frontend/components/profile/user-account/my-list/primitives/item-description.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/item-image.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/item-section-header.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/item-status.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/item-title.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/price.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/profile-link.tsx
  packages/frontend/components/profile/user-account/my-list/primitives/styles.ts
  packages/frontend/components/profile/user-account/my-list/primitives/types.ts
  packages/frontend/components/profile/user-account/my-list/primitives/views.tsx
  packages/frontend/components/profile/user-account/my-list/tmp-element-charity/charity-logo.svg
  packages/frontend/components/profile/user-account/my-list/tmp-element-charity/component.tsx
  packages/frontend/components/profile/user-account/my-list/tmp-element-charity/index.ts
  packages/frontend/components/profile/user-account/my-list/tmp-element-charity/styles.ts
  packages/frontend/pages/profile/my-list.tsx
  packages/frontend/public/locales/en/index.ts
  packages/frontend/public/locales/en/my-list.json
  packages/frontend/public/locales/ua/index.ts
  packages/frontend/public/locales/ua/my-list.json
  packages/frontend/store/index.ts
  packages/frontend/store/my-list/action-types.ts
  packages/frontend/store/my-list/actions.ts
  packages/frontend/store/my-list/index.ts
  packages/frontend/store/my-list/reducer.ts
  packages/frontend/store/store.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/types/product/author-dto.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/item-dto.ts
  packages/shared/src/common/types/product/product-dto.ts
  packages/shared/src/common/types/product/product-my-list.ts
  packages/shared/src/common/types/product/winner-dto.ts
Labels: frontend, backend, shared

#328 VBM-137: list item UI added
  packages/mobile/src/assets/images/images.ts
  packages/mobile/src/assets/images/list-item-avatar.png
  packages/mobile/src/assets/images/list-item-image.png
  packages/mobile/src/assets/images/list-item-organization.png
  packages/mobile/src/common/types/styles/styles.ts
  packages/mobile/src/components/divider/divider.tsx
  packages/mobile/src/components/divider/styles.ts
  packages/mobile/src/config/navigation-theme.config.ts
  packages/mobile/src/screens/auth/components/sign-in-up-header/sign-in-up-header.tsx
  packages/mobile/src/screens/my-list/components/components.ts
  packages/mobile/src/screens/my-list/components/list-item/list-item.tsx
  packages/mobile/src/screens/my-list/components/list-item/styles.ts
  packages/mobile/src/screens/my-list/my-list.tsx
  packages/mobile/src/styles/flex-box/flex-box.ts
Labels: mobile

#354 VB-312: add posibility to delete attached photo
  packages/backend/src/services/product.ts
  packages/frontend/components/save-post/image-input.tsx
  packages/frontend/components/save-post/styles.ts
  packages/frontend/public/locales/en/create-post.json
  packages/frontend/public/locales/ua/create-post.json
Labels: bug, frontend, backend

#370 VB-330: leave button
  packages/frontend/components/item/item-info-auction/component.tsx
Labels: frontend

#343 VB-323: add to product mapper convert from decimal to number
  packages/backend/prisma/ERD.svg
  packages/backend/src/mapper/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/components/item/component.tsx
  packages/frontend/components/item/item-info-auction/component.tsx
  packages/frontend/components/item/item-info-selling/component.tsx
  packages/frontend/components/item/item-info/component.tsx
  packages/frontend/components/item/item-info/seller-info/component.tsx
  packages/frontend/components/profile/user-account/my-list/cards/types.ts
  packages/frontend/pages/items/[id].tsx
  packages/frontend/store/product/reducer.ts
  packages/mobile/src/screens/product-info/components/description/description.tsx
  packages/mobile/src/screens/product-info/components/price-block/lot-price-block.tsx
  packages/mobile/src/screens/product-info/components/seller-info/seller-info.tsx
  packages/mobile/src/services/product/product.service.ts
  packages/mobile/src/store/product/actions.ts
  packages/mobile/src/store/product/reducer.ts
  packages/shared/src/common/types/bid/bid-dto.ts
  packages/shared/src/common/types/bid/index.ts
  packages/shared/src/common/types/product/author-dto.ts
  packages/shared/src/common/types/product/bid-dto.ts
  packages/shared/src/common/types/product/category-dto.ts
  packages/shared/src/common/types/product/create-dto.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/item-dto.ts
  packages/shared/src/common/types/product/product-dto.ts
  packages/shared/src/common/types/product/social-media.dto.ts
  packages/shared/src/common/types/product/update-dto.ts
  packages/shared/src/common/types/product/winner-dto.ts
  packages/shared/src/common/types/profile/user-profile-dto.ts
  packages/shared/src/common/types/social-media/social-media-dto.ts
Labels: bug, frontend, backend, mobile, shared

#329 VBM-133: Add push notifications
  packages/mobile/.gitignore
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/com/vsebude/MainApplication.java
  packages/mobile/android/app/src/main/res/drawable/ic_notification.png
  packages/mobile/android/app/src/main/res/values/colors.xml
  packages/mobile/android/app/src/main/res/values/strings.xml
  packages/mobile/android/build.gradle
  packages/mobile/android/settings.gradle
  packages/mobile/ios/Podfile.lock
  packages/mobile/package-lock.json
  packages/mobile/package.json
  packages/mobile/src/common/constants/constants.ts
  packages/mobile/src/common/constants/push.ts
  packages/mobile/src/services/app/app.service.ts
  packages/mobile/src/services/push-notifications/push-notifications.ts
  packages/mobile/src/services/services.ts
Labels: mobile

#352 Feature/items page
  packages/backend/src/api/routes/product.ts
  packages/backend/src/common/types/services/ProductService.ts
  packages/backend/src/repositories/product.ts
  packages/backend/src/services/product.ts
  packages/frontend/common/enums/icons.ts
  packages/frontend/components/filter/component.tsx
  packages/frontend/components/filter/filter-header/component.tsx
  packages/frontend/components/filter/filter-header/filter-popover.tsx
  packages/frontend/components/filter/filter-header/index.ts
  packages/frontend/components/filter/filter-header/styles.ts
  packages/frontend/components/filter/filter-header/types.ts
  packages/frontend/components/filter/filter-header/utils.ts
  packages/frontend/components/filter/helpers.ts
  packages/frontend/components/filter/pagination/component.tsx
  packages/frontend/components/filter/pagination/index.ts
  packages/frontend/components/filter/pagination/styles.ts
  packages/frontend/components/filter/pagination/types.ts
  packages/frontend/components/filter/product-grid/component.tsx
  packages/frontend/components/filter/product-grid/index.ts
  packages/frontend/components/filter/product-grid/styles.ts
  packages/frontend/components/filter/product-grid/types.ts
  packages/frontend/components/filter/products-loader/component.tsx
  packages/frontend/components/filter/products-loader/index.ts
  packages/frontend/components/filter/products-loader/styles.ts
  packages/frontend/components/filter/types.ts
  packages/frontend/components/header/navigation/categories-list/component.tsx
  packages/frontend/components/home/charity-section/component.tsx
  packages/frontend/components/home/lot-section/component.tsx
  packages/frontend/components/primitives/breadcrumbs/component.tsx
  packages/frontend/components/primitives/breadcrumbs/styles.ts
  packages/frontend/components/primitives/button-group/component.tsx
  packages/frontend/components/primitives/button-group/styles.ts
  packages/frontend/components/primitives/button-group/types.ts
  packages/frontend/components/primitives/category-badge/component.tsx
  packages/frontend/components/primitives/category-badge/styles.ts
  packages/frontend/components/primitives/input/types.ts
  packages/frontend/components/primitives/range/types.ts
  packages/frontend/components/primitives/select/component.tsx
  packages/frontend/components/primitives/select/types.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/items/index.tsx
  packages/frontend/public/css/fontawesome.css
  packages/frontend/public/locales/en/index.ts
  packages/frontend/public/locales/en/items-page.json
  packages/frontend/public/locales/ua/index.ts
  packages/frontend/public/locales/ua/items-page.json
  packages/frontend/services/product.ts
  packages/frontend/store/product/actions.ts
  packages/frontend/store/product/reducer.ts
  packages/frontend/theme/theme.ts
  packages/shared/src/common/constants/index.ts
  packages/shared/src/common/constants/item-filter.ts
  packages/shared/src/common/enums/product/index.ts
  packages/shared/src/common/enums/product/sort-by.ts
  packages/shared/src/common/types/product/all-products-dto.ts
  packages/shared/src/common/types/product/index.ts
  packages/shared/src/common/types/product/product-query.ts
Labels: frontend, backend, shared

#374 Bug/fix post docs
  packages/backend/src/api/routes/product.ts
Labels: backend

#387 Added google-services setup to mobile CD
  codemagic.yaml
Labels: root

#382 VB-317: Fix/product-timer
  packages/frontend/helpers/time.ts
Labels: frontend
